<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic"/>
		<section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission ="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
		<section name="BizConfiguration" type="VietNamNet.Framework.Biz.ConfigSerializerSectionHandler, VietNamNet.Framework.Biz" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="AJAXConfiguration" type="VietNamNet.Framework.AJAX.AJAXConfigurationSectionHandler, VietNamNet.Framework.AJAX" allowLocation="true" allowDefinition="Everywhere" />
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<!-- VietNamNet Surveys -->
		<add name="VietNamNet_Surveys" connectionString="server=203.162.71.133;uid=cms; pwd=cms^%$321; database=VietNamNet_V1Survey; Connection Timeout=120"/>
	</connectionStrings>

	<SubSonicService defaultProvider="VietNamNet_Surveys">
		<providers>
			<clear/>
			<add name="VietNamNet_Surveys" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="VietNamNet_Surveys" regexIgnoreCase="false" generatedNamespace="VietNamNet.AddOn.SurveyModule.DAL"/>
		</providers>
	</SubSonicService>

	<system.web>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<sessionState timeout="30"></sessionState>
		<compilation debug="true">
			<buildProviders>
				<add extension=".abp" type="SubSonic.BuildProvider, SubSonic" />
			</buildProviders>
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
			<error statusCode="403" redirect="Error.aspx?msg=NoAccess"/>
			<error statusCode="404" redirect="Error.aspx?msg=FileNotFound"/>
		</customErrors>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
		</httpModules>
		<httpRuntime maxRequestLength="20480"/>
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="SystemCache" enabled="true" duration="20" varyByParam="*"/>
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
	</system.web>

	<!-- View thumbnail -->
	<location path="thumb">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="VietNamNet.Framework.Common.ViewThumbnail"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--UrlRewirting Configuration-->
	<urlrewritingnet
		rewriteOnlyVirtualUrls="true"
		contextItemsPrefix="QueryString"
		defaultPage = "/Default.aspx"
		defaultProvider="RegEx"
		xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
		<rewrites>

			<add name="CategoryXaHoi" virtualUrl="^~/vn/xa-hoi/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx" ignoreCase="true"/>
			<add name="CategoryXaHoiPage" virtualUrl="^~/vn/xa-hoi/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?Page=$1" ignoreCase="true"/>
			<add name="CategoryXaHoiSubCate1" virtualUrl="^~/vn/xa-hoi/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=xa-hoi-$1" ignoreCase="true"/>
			<add name="CategoryXaHoiSubCate1Page" virtualUrl="^~/vn/xa-hoi/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=xa-hoi-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryXaHoiSubCate2" virtualUrl="^~/vn/xa-hoi/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=xa-hoi-$1-$2" ignoreCase="true"/>
			<add name="CategoryXaHoiSubCate2Page" virtualUrl="^~/vn/xa-hoi/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=xa-hoi-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailXaHoi" virtualUrl="^~/vn/xa-hoi/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Detail.aspx?DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailXaHoiSubCate1" virtualUrl="^~/vn/xa-hoi/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Detail.aspx?CateAlias=xa-hoi-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailXaHoiSubCate2" virtualUrl="^~/vn/xa-hoi/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Detail.aspx?CateAlias=xa-hoi-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="Category3GHot" virtualUrl="^~/vn/video-3g-hot/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx" ignoreCase="true"/>
			<add name="Category3GHotPage" virtualUrl="^~/vn/video-3g-hot/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx?Page=$1" ignoreCase="true"/>
			<add name="Category3GHotSubCate1" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx?CateAlias=video-3g-hot-$1" ignoreCase="true"/>
			<add name="Category3GHotSubCate1Page" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx?CateAlias=video-3g-hot-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="Category3GHotSubCate2" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx?CateAlias=video-3g-hot-$1-$2" ignoreCase="true"/>
			<add name="Category3GHotSubCate2Page" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx?CateAlias=video-3g-hot-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetail3GHot" virtualUrl="^~/vn/video-3g-hot/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Detail.aspx?DocId=$1" ignoreCase="true"/>
			<add name="NewsDetail3GHotSubCate1" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Detail.aspx?CateAlias=video-3g-hot-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetail3GHotSubCate2" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Detail.aspx?CateAlias=video-3g-hot-$1-$2&amp;DocId=$3" ignoreCase="true"/>


			<add name="CategoryChinhTri" virtualUrl="^~/vn/chinh-tri/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Category.aspx" ignoreCase="true"/>
			<add name="CategoryChinhTriPage" virtualUrl="^~/vn/chinh-tri/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Category.aspx?Page=$1" ignoreCase="true"/>
			<add name="CategoryChinhTriSubCate1" virtualUrl="^~/vn/chinh-tri/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Category.aspx?CateAlias=chinh-tri-$1" ignoreCase="true"/>
			<add name="CategoryChinhTriSubCate1Page" virtualUrl="^~/vn/chinh-tri/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Category.aspx?CateAlias=chinh-tri-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryChinhTriSubCate2" virtualUrl="^~/vn/chinh-tri/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Category.aspx?CateAlias=chinh-tri-$1-$2" ignoreCase="true"/>
			<add name="CategoryChinhTriSubCate2Page" virtualUrl="^~/vn/chinh-tri/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=chinh-tri-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailChinhTri" virtualUrl="^~/vn/chinh-tri/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Detail.aspx?DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailChinhTriSubCate1" virtualUrl="^~/vn/chinh-tri/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Detail.aspx?CateAlias=chinh-tri-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailChinhTriSubCate2" virtualUrl="^~/vn/chinh-tri/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Detail.aspx?CateAlias=chinh-tri-$1-$2&amp;DocId=$3" ignoreCase="true"/>




			<add name="Error" virtualUrl="^~/vn/error/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx" ignoreCase="true"/>
			<add name="ErrorMsg" virtualUrl="^~/vn/error/(.*)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx?Msg=$1" ignoreCase="true"/>
			<add name="Homepage" virtualUrl="^~/vn/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true"/>
			<add name="RSS" virtualUrl="^~/vn/rss/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/RSS.aspx" ignoreCase="true"/>
			<add name="Introduction" virtualUrl="^~/vn/gioi-thieu/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Introduction.aspx" ignoreCase="true"/>
			<add name="Prize" virtualUrl="^~/vn/giai-thuong/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/GiaiThuong.aspx" ignoreCase="true"/>
			<add name="Contact" virtualUrl="^~/vn/lien-he/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/LienHe.aspx" ignoreCase="true"/>
			
			<add name="Print" virtualUrl="^~/vn/print/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="Print1" virtualUrl="^~/vn/print/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1-$2&amp;DocId=$3" ignoreCase="true"/>
			<add name="Print2" virtualUrl="^~/vn/print/([-\w]+)/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1-$2-$3&amp;DocId=$4" ignoreCase="true"/>

			<add name="Search" virtualUrl="^~/vn/tim-kiem/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Search.aspx" ignoreCase="true"/>
			<add name="SearchK" virtualUrl="^~/vn/tim-kiem/([\s\w\d-+]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Search.aspx?keyword=$1" ignoreCase="true"/>


			<add name="CategoryPage" virtualUrl="^~/vn/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1&amp;Page=$2" ignoreCase="true"/>
			<add name="NewsDetail" virtualUrl="^~/vn/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="Category" virtualUrl="^~/vn/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1" ignoreCase="true"/>

			<add name="SubCategoryPage" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="SubNewsDetail" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1-$2&amp;DocId=$3" ignoreCase="true"/>
			<add name="SubCategory" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2" ignoreCase="true"/>

			<add name="Sub2CategoryPage" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2-$3&amp;Page=$4" ignoreCase="true"/>
			<add name="Sub2NewsDetail" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1-$2-$3&amp;DocId=$4" ignoreCase="true"/>
			<add name="Sub2Category" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2-$3" ignoreCase="true"/>

			<add name="FileNotFound" virtualUrl="^~/vn/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx?Msg=FileNotFound" ignoreCase="true"/>
		</rewrites>
	</urlrewritingnet>
	<!--END UrlRewirting Configuration-->

	<!--AJAX Service Configuration-->
	<location path="ajax">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="VietNamNet.Framework.AJAX.AJAXHandler"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--AJAX Service Configuration-->
	<AJAXConfiguration Type="VietNamNet.Framework.AJAX.AJAXConfiguration" Assembly="VietNamNet.Framework.AJAX">
		<AJAXService Name="getMedia" Type="VietNamNet.Websites.Core.AJAX.GetMedia" Assembly="VietNamNet.Websites.Core" NoCache="true" />
		<AJAXService Name="getTopMedia" Type="VietNamNet.Websites.Core.AJAX.GetTopMedia" Assembly="VietNamNet.Websites.Core" NoCache="true" />
		<AJAXService Name="getAdvertisement" Type="VietNamNet.Websites.Core.AJAX.GetAdvertisement" Assembly="VietNamNet.Websites.Core" NoCache="true" />
		<AJAXService Name="getComment" Type="VietNamNet.Websites.Core.AJAX.GetComment" Assembly="VietNamNet.Websites.Core" NoCache="true" />
		<AJAXService Name="sendMail" Type="VietNamNet.Websites.Core.AJAX.SendEmail" Assembly="VietNamNet.Websites.Core" NoCache="true" />
	</AJAXConfiguration>
	<!--END AJAX Service Configuration-->

	<!--Biz Configuration-->
	<BizConfiguration ObjectType="VietNamNet.Framework.Biz.BizObject" Assembly="VietNamNet.Framework.Biz">
		<!-- Website Core -->
		<BizObject Name="WebsitesManager" Type="VietNamNet.Websites.Core.BizLogic.WebsitesManager" Assembly="VietNamNet.Websites.Core" />
		<BizObject Name="AdvertisementManager" Type="VietNamNet.Websites.Core.BizLogic.AdvertisementManager" Assembly="VietNamNet.Websites.Core" NoCahe="true" />

		<!-- CMS -->
		<BizObject Name="ArticleCommentManager" Type="VietNamNet.CMS.BizLogic.ArticleCommentManager" Assembly="VietNamNet.CMS"/>
	</BizConfiguration>
	<!--END Biz Configuration-->

	<appSettings file="Message.config">
		<!-- AppSetting -->
		<add key="System.AddOn" value="Default,Classical,Standard"/>
		<add key="System.AddOn.File" value="~/Default.Master,~/Classical.Master,~/Standard.Master"/>
		<!--<add key="SqlConnectionString" value="server=10.4.6.77;uid=cms; pwd=cms^%$321; database=VietNamNet; Connection Timeout=120"/>-->
		<add key="SqlConnectionString" value="server=203.162.71.133;uid=cms; pwd=cms^%$321; database=VietNamNet_V1; Connection Timeout=120"/>
		<add key="CultureInfo" value="en-AU"/>
		<add key="Security" value="ON"/>
		<add key="Captcha" value="ON"/>
		<add key="CaptchaKey" value="abanhdt12$%^bg"/>
		<add key="CaptchaSalt" value="dtuananh"/>
		<add key="LogLevel" value="2"/>
		<add key="TimeCaching" value="20"/>
		
    <add key="PageSize" value="15"/>
    
    <add key="CommentPageSize" value="2"/>
		<add key="PageViewSize" value="15"/>
		<add key="DisplayDateTimeFormat" value="dd/MM/yyyy hh:mm:ss tt"/>
		<add key="DisplayDateFormat" value="dd/MM/yyyy"/>
		<add key="DisplayNumberFormat" value="#,##0"/>
		<add key="DisplayDecimalFormat" value="#,##0.00"/>
		<add key="Currency" value="VNĐ"/>
		<add key="MinDate" value="01/01/1753"/>
		<add key="UserGroupID" value="1"/>
		<add key="AdminGroupID" value="1"/>
		<!-- Email-->
		<add key="SMTPMailServer" value="smtp.vietnamnet.vn"/>
		<add key="SMTPMailServerPort" value="25"/>
		<add key="SMTPMailServerSecure" value="NO"/>
		<add key="SystemEmail" value="support@vietnamnet.vn"/>
		<add key="SystemEmailAlias" value="Hỗ trợ VietNamNet"/>
		<add key="SystemEmailLoginname" value="support@vietnamnet.vn"/>
		<add key="SystemEmailPasword" value="support"/>
		<add key="POP3MailServer" value="mail.vietnamnet.vn"/>
		<add key="POP3MailServerPort" value="110"/>
		<add key="POP3MailServerSecure" value="NO"/>
		<!-- Media Manager-->
		<add key="UpLoadDirectory" value="Resources"/>
		<add key="PublicDirectory" value="Public"/>
		<add key="PublicImageDirectory" value="PublicImages"/>
		<add key="PublicAudioDirectory" value="PublicAudio"/>
		<add key="PublicVideoDirectory" value="PublicVideo"/>
		<add key="ThumbnailDirectory" value="_thumb"/>
		<add key="TempDirectory" value="Temp"/>
		<add key="CommonDirectory" value="Common"/>
		<add key="TemplateDirectory" value="Template"/>
		<add key="FileTypeAllow" value="*.jpg,*.jpeg,*.gif,*.png,*.mp3,*.mp4,*.mid,*.amr,*.wav,*.wma,*.flv,*.wmv,*.swf,*.txt,*.doc,*.docx,*.xls,*.xlsx,*.pdf,*.zip,*.rar"/>
		<add key="ImageFileType" value=".jpg,.jpeg,.gif,.png"/>
		<add key="AudioFileType" value=".mp3,.mid,.amr,.wav,.wma"/>
		<add key="VideoFileType" value=".mp4,.flv,.wmv"/>
		<add key="DeleteFromPhysical" value="YES"/>
		<add key="ThumbnailHeight" value="119"/>
		<add key="ThumbnailWidth" value="178"/>
		<add key="MaxUploadFileSize" value="5120"/>
		<add key="MaxUploadFileZipSize" value="20480"/>
		<add key="PublicServerLink" value=""/>
		<add key="ImageServerLink" value=""/>
		<add key="AudioServerLink" value=""/>
		<add key="VideoServerLink" value=""/>
		<!-- Copyright -->
		<add key="CopyrightName" value="VietNamNet"/>
		<add key="CopyrightLink" value="http://www.VietNamNet.vn/"/>
		<add key="PoweredName" value="VietNamNet"/>
		<add key="PoweredLink" value="http://www.VietNamNet.vn/"/>
	</appSettings>

</configuration>