<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net debug="false" >
		<root>
			<level value="ERROR" />
			<appender-ref ref="ErrorAppender" />
		</root>
		<logger name="VietNamNet.AddOn.Royalty.Log">
			<level value="INFO"/>
			<appender-ref ref="RoyaltyAppender" />
		</logger>
	
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\error\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'ErrorLog'yyyyMMdd-HH'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>

		
		<appender name="RoyaltyAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\modules\Royalty\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'RoyaltyLog'yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>

	</log4net>
</configuration>