<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- Advertisement -->
	<add key="LayoutNameCantEmpty" value="Bạn phải nhập tên Layout!" />
	<add key="ZoneNameCantEmpty" value="Bạn phải nhập tên Zone!" />
	<add key="ZoneHolderIdCantEmpty" value="Bạn phải nhập Zone Id!" />
	<add key="BlockNameCantEmpty" value="Bạn phải nhập tên Block!" />
	<add key="ItemNameCantEmpty" value="Bạn phải nhập tên Item!" />
	<add key="ItemLinkCantEmpty" value="Bạn phải nhập Link!" />
	<add key="StartTimeCantEmpty" value="Bạn ơhair nhập Ngày giờ bắt đầu!" />
	<add key="EndTimeCantEmpty" value="Bạn ơhair nhập Ngày giờ kết thúc!" />
	<add key="EndTimeLessThanStartTime" value="Ngày giờ kết thúc không được nhỏ hơn Ngày giờ bắt đầu!" />
</appSettings>