<?xml version="1.0"?>
<configuration>

	<!--Biz Configuration-->
	<BizConfiguration ObjectType="VietNamNet.Framework.Biz.BizObject" Assembly="VietNamNet.Framework.Biz">
		<!-- CMS -->
		<BizObject Name="CategoryManager" Type="VietNamNet.CMS.BizLogic.CategoryManager" Assembly="VietNamNet.CMS"/>
		<!-- Advertisement -->
		<BizObject Name="AdvertisementTypeManager" Type="VietNamNet.AddOn.Advertisement.BizLogic.AdvertisementTypeManager" Assembly="VietNamNet.AddOn.Advertisement"/>
		<BizObject Name="AdvertisementLayoutManager" Type="VietNamNet.AddOn.Advertisement.BizLogic.AdvertisementLayoutManager" Assembly="VietNamNet.AddOn.Advertisement"/>
		<BizObject Name="AdvertisementZoneManager" Type="VietNamNet.AddOn.Advertisement.BizLogic.AdvertisementZoneManager" Assembly="VietNamNet.AddOn.Advertisement"/>
		<BizObject Name="AdvertisementBlockManager" Type="VietNamNet.AddOn.Advertisement.BizLogic.AdvertisementBlockManager" Assembly="VietNamNet.AddOn.Advertisement"/>
		<BizObject Name="AdvertisementItemManager" Type="VietNamNet.AddOn.Advertisement.BizLogic.AdvertisementItemManager" Assembly="VietNamNet.AddOn.Advertisement"/>
	</BizConfiguration>
	<!--END Biz Configuration-->

</configuration>