<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission ="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
		<section name="BizConfiguration" type="VietNamNet.Framework.Biz.ConfigSerializerSectionHandler, VietNamNet.Framework.Biz" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="AJAXConfiguration" type="VietNamNet.Framework.AJAX.AJAXConfigurationSectionHandler, VietNamNet.Framework.AJAX" allowLocation="true" allowDefinition="Everywhere" />
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>


	<system.web>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<sessionState timeout="30"></sessionState>
		<compilation debug="false">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
			<error statusCode="403" redirect="Error.aspx?msg=NoAccess"/>
			<error statusCode="404" redirect="Error.aspx?msg=FileNotFound"/>
		</customErrors>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add verb="*" path="*.html" validate="false" type="VietNamNet.Websites.Core.SystemIntergration"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
		</httpModules>
		<httpRuntime maxRequestLength="20480"/>
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="SystemCache" enabled="true" duration="2" varyByParam="*" varyByControl="None" />
					<add name="HomepageCache" enabled="true" duration="2" varyByParam="*" varyByControl="None" />
					<add name="CategoryCache" enabled="true" duration="2" varyByParam="*" varyByControl="None" />
					<add name="ArticleCache" enabled="true" duration="2" varyByParam="*" varyByControl="None" />
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
	</system.web>

	<!-- View thumbnail -->
	<location path="thumb">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="VietNamNet.Framework.Common.ViewThumbnail"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--UrlRewirting Configuration-->
	<urlrewritingnet
		rewriteOnlyVirtualUrls="true"
		contextItemsPrefix="QueryString"
		defaultPage = "/Default.aspx"
		defaultProvider="RegEx"
		xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
		<rewrites>

			<add name="Error" virtualUrl="^~/en/error/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx" ignoreCase="true"/>
			<add name="ErrorMsg" virtualUrl="^~/en/error/(.*)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx?Msg=$1" ignoreCase="true"/>
			<add name="Homepage" virtualUrl="^~/en/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true"/>
			<add name="RSS" virtualUrl="^~/en/rss/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/RSS.aspx" ignoreCase="true"/>
			<add name="Introduction" virtualUrl="^~/en/introduction/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Introduction.aspx" ignoreCase="true"/>
			<add name="Adv" virtualUrl="^~/en/adv/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Adv.aspx" ignoreCase="true"/>
			<add name="WebLink" virtualUrl="^~/en/weblink/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/WebLink.aspx" ignoreCase="true"/>
			<add name="Contact" virtualUrl="^~/en/contact/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Contact.aspx" ignoreCase="true"/>           
			<add name="AboutUs" virtualUrl="^~/en/about-us/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AboutUs.aspx" ignoreCase="true"/>

			<add name="Print" virtualUrl="^~/en/print/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="Print1" virtualUrl="^~/en/print/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1-$2&amp;DocId=$3" ignoreCase="true"/>
			<add name="Print2" virtualUrl="^~/en/print/([-\w]+)/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1-$2-$3&amp;DocId=$4" ignoreCase="true"/>

			<add name="SearchK" virtualUrl="^~/en/search/([\s\w\d-+]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Search.aspx?keyword=$1" ignoreCase="true"/>
			<add name="Search" virtualUrl="^~/en/search/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Search.aspx" ignoreCase="true"/>

      <!-- Special cate1 -->
      <add name="Special1CategoryPage" virtualUrl="^~/en/(special-report|vietnam-in-photos|what-on)/page(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType1.aspx?CateAlias=$1&amp;Page=$2" ignoreCase="true"/>
      <add name="Special1Category" virtualUrl="^~/en/(special-report|vietnam-in-photos|what-on)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType1.aspx?CateAlias=$1" ignoreCase="true"/>

      <add name="Special1SubCategoryPage" virtualUrl="^~/en/(special-report|vietnam-in-photos|what-on)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType1.aspx?CateAlias=$1-$2&amp;Page=$3" ignoreCase="true"/>
      <add name="Special1SubCategory" virtualUrl="^~/en/(special-report|vietnam-in-photos|what-on)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType1.aspx?CateAlias=$1-$2" ignoreCase="true"/>

      <add name="Special1Sub2CategoryPage" virtualUrl="^~/en/(special-report|vietnam-in-photos|what-on)/([-\w]+)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType1.aspx?CateAlias=$1-$2-$3&amp;Page=$4" ignoreCase="true"/>
      <add name="Special1Sub2Category" virtualUrl="^~/en/(special-report|vietnam-in-photos|what-on)/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType1.aspx?CateAlias=$1-$2-$3" ignoreCase="true"/>
      <!-- End of Special cate1 -->

      <!-- Special cate2 -->
      <add name="Special2CategoryPage" virtualUrl="^~/en/(vietnam-reference)/page(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType2.aspx?CateAlias=$1&amp;Page=$2" ignoreCase="true"/>
      <add name="Special2Category" virtualUrl="^~/en/(vietnam-reference)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType2.aspx?CateAlias=$1" ignoreCase="true"/>

      <add name="Special2SubCategoryPage" virtualUrl="^~/en/(vietnam-reference)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType1.aspx?CateAlias=$1-$2&amp;Page=$3" ignoreCase="true"/>
      <add name="Special2SubCategory" virtualUrl="^~/en/(vietnam-reference)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType1.aspx?CateAlias=$1-$2" ignoreCase="true"/>

      <add name="Special2Sub2CategoryPage" virtualUrl="^~/en/(vietnam-reference)/([-\w]+)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType1.aspx?CateAlias=$1-$2-$3&amp;Page=$4" ignoreCase="true"/>
      <add name="Special2Sub2Category" virtualUrl="^~/en/(vietnam-reference)/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CategoriesType1.aspx?CateAlias=$1-$2-$3" ignoreCase="true"/>
      <!-- End of Special cate2 -->

      <add name="CategoryPage" virtualUrl="^~/en/([-\w]+)/page(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1&amp;Page=$2" ignoreCase="true"/>
      <add name="NewsDetail" virtualUrl="^~/en/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1&amp;DocId=$2" ignoreCase="true"/>
      <add name="Category" virtualUrl="^~/en/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1" ignoreCase="true"/>

      <add name="SubCategoryPage" virtualUrl="^~/en/([-\w]+)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="SubNewsDetail" virtualUrl="^~/en/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1-$2&amp;DocId=$3" ignoreCase="true"/>
			<add name="SubCategory" virtualUrl="^~/en/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2" ignoreCase="true"/>

			<add name="Sub2CategoryPage" virtualUrl="^~/en/([-\w]+)/([-\w]+)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2-$3&amp;Page=$4" ignoreCase="true"/>
			<add name="Sub2NewsDetail" virtualUrl="^~/en/([-\w]+)/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1-$2-$3&amp;DocId=$4" ignoreCase="true"/>
			<add name="Sub2Category" virtualUrl="^~/en/([-\w]+)/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2-$3" ignoreCase="true"/>

			<add name="FileNotFound" virtualUrl="^~/en/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx?Msg=FileNotFound" ignoreCase="true"/>
		</rewrites>
	</urlrewritingnet>
	<!--END UrlRewirting Configuration-->

	<!--RSS Configuration-->
	<location path="rss">
		<system.web>
			<httpHandlers>
				<add path="*.rss" verb="*" type="VietNamNet.Websites.Core.Common.RSSHandler"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--AJAX Service Configuration-->
	<location path="ajax">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="VietNamNet.Framework.AJAX.AJAXHandler"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--AJAX Service Configuration-->
	<AJAXConfiguration Type="VietNamNet.Framework.AJAX.AJAXConfiguration" Assembly="VietNamNet.Framework.AJAX">
		<AJAXService Name="getMedia" Type="VietNamNet.Websites.Core.AJAX.GetMedia" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="getTopMedia" Type="VietNamNet.Websites.Core.AJAX.GetTopMedia" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="getAdvertisement" Type="VietNamNet.Websites.Core.AJAX.GetAdvertisement" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="getComment" Type="VietNamNet.Websites.Core.AJAX.GetComment" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="sendMail" Type="VietNamNet.Websites.Core.AJAX.SendEmail" Assembly="VietNamNet.Websites.Core" NoCache="true" />
		<!-- Survey Service Configuration -->
		<AJAXService Name="Survey" 	Type="VietNamNet.Survey.Core.AJAX.srvGetSurvey" Assembly="VietNamNet.Websites.Core" NoCache="true" />
	</AJAXConfiguration>
	<!--END AJAX Service Configuration-->

	<!--Biz Configuration-->
	<BizConfiguration ObjectType="VietNamNet.Framework.Biz.BizObject" Assembly="VietNamNet.Framework.Biz">
		<!-- Website Core -->
		<BizObject Name="SurveyManager" Type="VietNamNet.Websites.Core.BizLogic.SurveyManager" Assembly="VietNamNet.Websites.Core" />
		<BizObject Name="WebsitesManager" Type="VietNamNet.Websites.Core.BizLogic.WebsitesManager" Assembly="VietNamNet.Websites.Core" />
		<BizObject Name="AdvertisementManager" Type="VietNamNet.Websites.Core.BizLogic.AdvertisementManager" Assembly="VietNamNet.Websites.Core" NoCahe="true" />
	</BizConfiguration>
	<!--END Biz Configuration-->

	<appSettings file="Message.config">
		<!-- AppSetting -->
		<add key="System.AddOn" value="Default,Classical,Standard"/>
		<add key="System.AddOn.File" value="~/Default.Master,~/Classical.Master,~/Standard.Master"/>
		<!--<add key="SqlConnectionString" value="server=10.4.6.77;uid=cms; pwd=cms^%$321; database=VietNamNet; Connection Timeout=120"/>-->
		<add key="SqlConnectionString" value="server=203.162.71.50;uid=english; pwd=english!@#456#@!; database=VietNamNet_English; Connection Timeout=120"/>
		<add key="CultureInfo" value="en-AU"/>
		<add key="Security" value="ON"/>
		<add key="Captcha" value="ON"/>
		<add key="CaptchaKey" value="abanhdt12$%^bg"/>
		<add key="CaptchaSalt" value="dtuananh"/>
		<add key="LogLevel" value="2"/>
		<add key="TimeCaching" value="20"/>
		<add key="PageSize" value="12"/>
		<add key="CommentPageSize" value="5"/>
		<add key="PageViewSize" value="12"/>
		<add key="DisplayDateTimeFormat" value="dd/MM/yyyy hh:mm:ss tt"/>
		<add key="DisplayDateFormat" value="dd/MM/yyyy"/>
		<add key="DisplayNumberFormat" value="#,##0"/>
		<add key="DisplayDecimalFormat" value="#,##0.00"/>
		<add key="Currency" value="VNĐ"/>
		<add key="MinDate" value="01/01/1753"/>
		<add key="UserGroupID" value="1"/>
		<add key="AdminGroupID" value="1"/>
		<!-- Email-->
		<add key="SMTPMailServer" value="smtp.vietnamnet.vn"/>
		<add key="SMTPMailServerPort" value="25"/>
		<add key="SMTPMailServerSecure" value="NO"/>
		<add key="SystemEmail" value="support@vietnamnet.vn"/>
		<add key="SystemEmailAlias" value="Hỗ trợ VietNamNet"/>
		<add key="SystemEmailLoginname" value="support@vietnamnet.vn"/>
		<add key="SystemEmailPasword" value="support"/>
		<add key="POP3MailServer" value="mail.vietnamnet.vn"/>
		<add key="POP3MailServerPort" value="110"/>
		<add key="POP3MailServerSecure" value="NO"/>
		<!-- Media Manager-->
		<add key="UpLoadDirectory" value="Resources"/>
		<add key="PublicDirectory" value="Public"/>
		<add key="PublicImageDirectory" value="PublicImages"/>
		<add key="PublicAudioDirectory" value="PublicAudio"/>
		<add key="PublicVideoDirectory" value="PublicVideo"/>
		<add key="ThumbnailDirectory" value="_thumb"/>
		<add key="TempDirectory" value="Temp"/>
		<add key="CommonDirectory" value="Common"/>
		<add key="TemplateDirectory" value="Template"/>
		<add key="FileTypeAllow" value="*.jpg,*.jpeg,*.gif,*.png,*.mp3,*.mp4,*.mid,*.amr,*.wav,*.wma,*.flv,*.wmv,*.swf,*.txt,*.doc,*.docx,*.xls,*.xlsx,*.pdf,*.zip,*.rar"/>
		<add key="ImageFileType" value=".jpg,.jpeg,.gif,.png"/>
		<add key="AudioFileType" value=".mp3,.mid,.amr,.wav,.wma"/>
		<add key="VideoFileType" value=".mp4,.flv,.wmv"/>
		<add key="DeleteFromPhysical" value="YES"/>
		<add key="ThumbnailHeight" value="119"/>
		<add key="ThumbnailWidth" value="178"/>
		<add key="MaxUploadFileSize" value="5120"/>
		<add key="MaxUploadFileZipSize" value="20480"/>
		<add key="PublicServerLink" value=""/>
		<add key="ImageServerLink" value=""/>
		<add key="AudioServerLink" value=""/>
		<add key="VideoServerLink" value=""/>
		<!-- RSS config key -->
		<add key="WebsiteTitle" value="Vietnamnet - English"/>
		<add key="WebsiteLink" value="http://demo.english.vietnamnet.vn/en/"/>
		<add key="WebsiteDesc" value="Vietnamnet - English"/>
		<add key="WebsiteCopy" value="&copy; Vietnamnet - English"/>
		<!-- Copyright -->
		<add key="CopyrightName" value="VietNamNet"/>
		<add key="CopyrightLink" value="http://www.VietNamNet.vn/"/>
		<add key="PoweredName" value="VietNamNet"/>
		<add key="PoweredLink" value="http://www.VietNamNet.vn/"/>
	</appSettings>

</configuration>