<?xml version="1.0"?>

<configuration>
	<!--CONFIG SECTIONS-->
	<configSections>
		<section name="BizConfiguration" type="VietNamNet.Framework.Biz.ConfigSerializerSectionHandler, VietNamNet.Framework.Biz" allowLocation="true" allowDefinition="Everywhere" />
		<section name="AJAXConfiguration" type="VietNamNet.Framework.AJAX.AJAXConfigurationSectionHandler, VietNamNet.Framework.AJAX" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<!--END CONFIG SECTIONS-->

	<appSettings/>
	<connectionStrings/>

	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" />
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>

	<!--BUSINESS OBJECT CONFIGURATION-->
	<BizConfiguration Type="VietNamNet.Framework.Biz.BizConfiguration" Assembly="VietNamNet.Framework.Biz">
		<BizObject Name="WebDemo.TestManager" Type="WebDemo.BizLogic.TestManager" Assembly="WebDemo" />
		<BizObject Name="WebDemo.DemoManager" Type="WebDemo.BizLogic.DemoManager" Assembly="WebDemo" />
		<BizObject Name="WebDemo.DemoManager" Actions="LOAD2,Save"  Type="WebDemo.BizLogic.Demo2Manager" Assembly="WebDemo" />
	</BizConfiguration>
	<!--END SECURITY CONFIGURATION-->

	<location path="ajax">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="VietNamNet.Framework.AJAX.AJAXHandler"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--AJAX Service Configuration-->
	<AJAXConfiguration Type="VietNamNet.Framework.AJAX.AJAXConfiguration" Assembly="VietNamNet.Framework.AJAX">
		<AJAXService Name="Demo" Type="WebDemo.AJAX.TestService" Assembly="WebDemo" NoCache="true" BeforeFilters="SecurityFilter" AfterFilters="After1Filter" />
		<AJAXService Name="Demo" Actions="Load" Type="WebDemo.AJAX.TestService" Assembly="WebDemo" NoCache="true" BeforeFilters="CheckFilter" AfterFilters="After2Filter" />
		<AJAXService Name="Test" Type="WebDemo.AJAX.TestService" Assembly="WebDemo" NoCache="true" />
		<AJAXFilter Name="SecurityFilter" Type="WebDemo.AJAX.SecurityFilter" Assembly="WebDemo" />
		<AJAXFilter Name="CheckFilter" Type="WebDemo.AJAX.CheckFilter" Assembly="WebDemo" />
		<AJAXFilter Name="After1Filter" Type="WebDemo.AJAX.After1Filter" Assembly="WebDemo" />
		<AJAXFilter Name="After2Filter" Type="WebDemo.AJAX.After2Filter" Assembly="WebDemo" />
	</AJAXConfiguration>
	<!--END AJAX Service Configuration-->

</configuration>
