/****** Object:  Table [dbo].[Category]    Script Date: 10/29/2010 15:09:52 ******/
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([Id], [PartitionId], [PId], [Ord], [Name], [Alias], [DisplayName], [Url], [Detail], [Created_At], [Created_By], [Last_Modified_At], [Last_Modified_By], [flag]) VALUES (1, 1, NULL, 5, N'Xã hội', N'xa-hoi', N'Xã hội', N'xa-hoi/', N'Chuyên mục xã hội', CAST(0x00009E0A00D53366 AS DateTime), 2, CAST(0x00009E0A00D53366 AS DateTime), 2, NULL)
INSERT [dbo].[Category] ([Id], [PartitionId], [PId], [Ord], [Name], [Alias], [DisplayName], [Url], [Detail], [Created_At], [Created_By], [Last_Modified_At], [Last_Modified_By], [flag]) VALUES (2, 2, NULL, 6, N'Giáo dục', N'giao-duc', N'Giáo dục', N'giao-duc/', N'Chuyên mục giáo dục', CAST(0x00009E0A00D53366 AS DateTime), 2, CAST(0x00009E0A00D53366 AS DateTime), 2, NULL)
INSERT [dbo].[Category] ([Id], [PartitionId], [PId], [Ord], [Name], [Alias], [DisplayName], [Url], [Detail], [Created_At], [Created_By], [Last_Modified_At], [Last_Modified_By], [flag]) VALUES (3, 3, NULL, 7, N'Chính trị', N'chinh-tri', N'Chính trị', N'chinh-tri/', N'Chuyên mục chính trị', CAST(0x00009E0A00D53366 AS DateTime), 2, CAST(0x00009E0A00D53366 AS DateTime), 2, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Default [DF_Category_PartitionId]    Script Date: 10/29/2010 15:09:52 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_PartitionId]  DEFAULT ((1)) FOR [PartitionId]
GO
/****** Object:  Default [DF_Category_Ord]    Script Date: 10/29/2010 15:09:52 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Ord]  DEFAULT ((0)) FOR [Ord]
GO
/****** Object:  Default [DF_Category_Alias]    Script Date: 10/29/2010 15:09:52 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Alias]  DEFAULT (N'') FOR [Alias]
GO
/****** Object:  Default [DF_Category_Created_At]    Script Date: 10/29/2010 15:09:52 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Created_At]  DEFAULT (getdate()) FOR [Created_At]
GO
/****** Object:  Default [DF_Category_Created_By]    Script Date: 10/29/2010 15:09:52 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Created_By]  DEFAULT ((0)) FOR [Created_By]
GO
/****** Object:  Default [DF_Category_Last_Modified_At]    Script Date: 10/29/2010 15:09:52 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Last_Modified_At]  DEFAULT (getdate()) FOR [Last_Modified_At]
GO
/****** Object:  Default [DF_Category_Last_Modified_By]    Script Date: 10/29/2010 15:09:52 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Last_Modified_By]  DEFAULT ((0)) FOR [Last_Modified_By]
GO
