<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SubSonicService"
				 type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="VCMSContr" connectionString="server=203.162.71.133;uid=cms; pwd=cms^%$321; database=VietNamNet_V1; Connection Timeout=120"/>
	</connectionStrings>
	<SubSonicService defaultProvider="VCMS">
		<providers>
			<clear/>
			<add name="VCMS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="VCMSContr" generatedNamespace="VideoDAL"/>
		</providers>
	</SubSonicService>
</configuration>