.loading{background:#555 url(../Images/loading.gif) no-repeat center center;overflow:hidden;position:absolute;padding:0;}
.loading1{background:#555 url(../Images/loading1.gif) no-repeat center center;overflow:hidden;position:absolute;padding:0;}
.box{margin-bottom:10px;}
.box .top, .box .top div, .box .bottom, .box .bottom div{height:6px;overflow:hidden;font-size:1px;line-height:0;clear:both;background:url(../Images/sprite_sheet.gif) no-repeat;}
.box .top{background-position:left -144px;padding-left:6px;}
.box .bottom{background-position:left -150px;padding-left:6px;}
.box .top div{background-position:right -156px;padding-right:6px;}
.box .bottom div{background-position:right -162px;padding-right:6px;}
.box .top div div, .box .bottom div div{height:5px;background:#DFDFD6;padding:0;}
.box .top div div{border-top:#999 1px solid;}
.box .bottom div div{border-bottom:#999 1px solid;}
.box .content{border-left:#999 1px solid;border-right:#999 1px solid;background:#DEDFD6;padding:0 5px;min-height:5px;}
.box1 .top{background-position:left 0px;}
.box1 .bottom{background-position:left -6px;}
.box1 .top div{background-position:right -12px;}
.box1 .bottom div{background-position:right -18px;}
.box1 .top div div, .box1 .bottom div div{background:#fff;}
.box1 .content{background:#fff;}
.popup{position:absolute;width:305px;overflow:visible;margin:0;}
.popup .top{cursor:move;}
.popup .close{cursor:pointer;position:absolute;right:-6px;top:-6px;background:url(../Images/btn-close.gif) no-repeat;z-index:10;width:16px;height:16px;}
.popup .close_h{background:url(../Images/btn-close-hover.gif) no-repeat;}
.popup .content p{padding:5px;}
.popup-shadow{margin:0px;position:absolute;width:305px;height:200px;overflow:visible;z-index:10000000;}
.popup-shadow .top, .popup-shadow .top div, .popup-shadow .bottom, .popup-shadow .bottom div{height:10px;overflow:hidden;font-size:1px;line-height:0;clear:both;background:url(../Images/shadow.png) no-repeat;}
.popup-shadow .top{background-position:left 0px;padding-left:10px;}
.popup-shadow .top div{background-position:right -20px;padding-right:10px;}
.popup-shadow .top div div{background-position:left -40px;background-repeat:repeat-x;padding:0;}
.popup-shadow .bottom{background-position:left -10px;padding-left:10px;}
.popup-shadow .bottom div{background-position:right -30px;padding-right:10px;}
.popup-shadow .bottom div div{background-position:left -50px;background-repeat:repeat-x;padding:0;}
.popup-shadow .content, .popup-shadow .content div{background:url(../Images/shadow-lr.png) repeat-y;min-height:10px;}
.popup-shadow .content{background-position:left 0px;padding-left:5px;}
.popup-shadow .content div{background-position:right 0px;padding-right:5px;}
.popup-shadow .content div div{background:url(../Images/shadow-c.png) repeat;}
.tab-item-holder{}
.tab-item-prev{}
.tab-item-next{}
.tab-item{}
.tab-item-title{}
.tab-item-content{display:none;}
.tab-content-holder{}
.bookmarks{}
.bookmarks a.highlight img{filter:alpha(opacity=70);opacity:.70}
.bookmarks a.highlight:hover img{filter:alpha(opacity=100);opacity:1.00}
.leadBox{position:absolute;border:#999 1px solid;background:#fff2da;font-size:small;padding:5px;width:350px;}
.photoSlide{}
.photoSlide .photoDeck{position:relative;overflow:hidden;float:left;width:100px;height:100px;}
.photoSlide .photoDeck .photo-container{position:relative;width:9000px;height:9000px;}
.photoSlide .prev{float:left;text-align:left;}
.photoSlide .next{float:right;text-align:right;}
.photoSlide .prev img, .photoSlide .next img{border:0 !important;}
.box .panelPhotoDetail{float:left;width:336px;background:#fff;padding:5px;}
.box .panelPhotoShow{float:left;width:605px;padding-left:5px;border-left:1px #999 solid;margin-left:5px;}
.box .panelPhotoMore{border-left:#999 1px solid;border-right:#999 1px solid;background:#DEDFD6;min-height:5px;padding-top:10px;}
.photoAlbum{}
.photoAlbum .photoDeck{position:relative;overflow:hidden;float:left;width:462px;height:72px;}
.photoAlbum .photoDeck .photo-container{position:relative;width:9000px;height:9000px;}
.photoAlbum .photoDeck .photo-container .photoItem{}
.photoAlbum .photoDeck .photo-container .photoItem .image{display:none;}
.photoAlbum .photoDeck .photo-container .photoItem .title{display:none;}
.photoAlbum .photoDeck .photo-container .photoItem .content{display:none;}
.photoAlbum .prev, .photoAlbum .next, .photoAlbum .pause, .photoAlbum .play{background:transparent url(../Images/button.gif) no-repeat;height:20px;width:57px;display:block;float:left;cursor:pointer;}
.photoAlbum .prev{background-position:-20px -40px;width:20px;}
.photoAlbum .next{background-position:-20px -62px;width:20px;}
.photoAlbum .pause{background-position:0 0px;}
.photoAlbum .play{background-position:0 -20px;}
.photoAlbum .page{padding:3px 3px 0px;}
.photoAlbum .imageDeck{text-align:center;margin-top:10px;}
.photoAlbum .imageContent{font-size:9pt;padding-top:5px;}
.GallerySlide .Play,.GallerySlide .Pause{float:left;background:transparent url(../Images/button.gif) no-repeat;cursor:pointer;height:20px;width:57px;}
.GallerySlide .Next,.GallerySlide .Prev{float:left;background:transparent url(../Images/button1.gif) no-repeat;cursor:pointer;height:20px;width:25px;}
.GallerySlide .Prev{}
.GallerySlide .Next{background-position:0 -20px}
.GallerySlide .Play{display:none;background-position:0 -20px;}
.GallerySlide .Pause{display:block;}
.GallerySlide .Page{font-size:9pt;font-weight:bold;float:left;line-height:20px;text-align:center;vertical-align:middle}
.GallerySlide .list{position:relative;overflow:hidden;height:50px;float:left}
.GallerySlide .list .listholder{height:50px;}
.GallerySlide .list .listholder img{display:none;cursor:pointer;height:50px;width:64px;}
.GallerySlide .list .listholder .listitem .imageurl img{display:inline;cursor:pointer;height:50px;margin-left:2px}
.GallerySlide .listitem{float:left;height:50px;position:relative;}
.GallerySlide .listitem .content, .listitem .title{display:none;}
.GallerySlide .button{color:#000000;line-height:15px;font-size:14px;vertical-align:middle;text-align:center;height:50px;float:left;padding-top:10px;}
.GallerySlide .Imagecontent{padding-top:10px;color:black;line-height:18px;font-size:9pt;text-align:justify;vertical-align:middle;width:600px;float:left;}
.GallerySlide .Imagetitle{text-align:center;vertical-align:middle;float:left;margin-top:-20px;width:600px;color:black;line-height:18px;font-size:14px;font-weight:bold;}
.GallerySlide .Image{text-align:center;vertical-align:middle;float:left;width:600px;min-height:300px;}
.GallerySlide .Image img{}
.GallerySlide .box{float:left;overflow:hidden;height:50px;position:relative;padding-left:20px;width:396px;margin-left:-2px}
#eventSlide{float:left;width:190px;}
#eventSlide ul.mainNav{float:right;list-style:none;height:14px;padding-top:2px;overflow:hidden;}
#eventSlide ul.mainNav li{float:left;width:14px;overflow:hidden;font-weight:bold;text-align:center;}
#eventSlide ul.mainNav li a{color:#999;font-weigth:bold;font-size:9pt;}
#eventSlide ul.mainNav li a.selected{color:#c00;}
#eventSlide img{border:#ccc 5px solid;}
#dlOverlay{position:relative;z-index:150;margin:0;padding:14px 0 0 0;display:none;}
#dlOverlay span.close{filter:alpha(opacity=95);opacity:.95;float:right;background:url(../Images/DynamicLead/close.gif) no-repeat left top;margin:-11px 0 0 0;display:block;height:11px;overflow:hidden;cursor:pointer;font-size:1px;width:48px;}
#dlOverlay div.caption{filter:alpha(opacity=80);opacity:.80;background:#fff;margin:0;padding:0;height:100px;overflow:hidden;clear:both;}
#dlOverlay div.caption h6.rubric{margin:10px 0 0 10px;width:410px;padding:0;font-weight:bold;font-size:11px;text-transform:uppercase;height:14px;overflow:hidden;}
#dlOverlay div.caption h6.rubric a, #dlOverlay div.caption h6.rubric a:visited, #dlOverlay div.caption h6.rubric a:hover, #dlOverlay div.caption h6.rubric a:active{color:#c00;display:block;}
#dlOverlay div.caption h1{margin:-2px 0 0 10px;padding:0;font-weight:bold;font-size:22px;letter-spacing:-1px;overflow:hidden;max-height:80px;}
#dlOverlay div.caption h1 a,#main .dlBox .content .imageDeck .overlay div.caption h1 a:link, #dlOverlay div.caption h1 a:hover, #dlOverlay div.caption h1 a:active, #dlOverlay div.caption h1 a:visited{color:#000;width:380px;display:block;border:none;}
#dlOverlay div.caption p.deck{margin:0px 0 0 10px;padding:0;font-size:13px;width:370px;height:18px;overflow:hidden;}
#dlOverlay div.caption p.deck a, #dlOverlay div.caption p.deck a:hover, #dlOverlay div.caption p.deck a:active, #dlOverlay div.caption p.deck a:visited{color:#000;display:block;}
#dlOverlay div.caption p.source{font-size:10px;margin:0px 0 0 10px;padding:0;text-align:right;width:96%;height:13px;}
#dlOverlay div.caption p.source a, #dlOverlay div.caption p.source a:link, #dlOverlay div.caption p.source a:visited, #dlOverlay div.caption p.source a:hover{color:#666;display:block;}
#dynamicLead{}
#dynamicLead ol.subNav{list-style-type:none;margin:0 2px 0 0;padding:0;font-size:11px;overflow:hidden;display:inline;float:right;height:15px;overflow:hidden;}
#dynamicLead ol.subNav li{float:left;background:url(../Images/DynamicLead/numsep.png) no-repeat 16px top;padding:0;width:18px;overflow:hidden;}
#dynamicLead ol.subNav li a{padding:0 0 0 11px;background-image:url(../Images/DynamicLead/dl_number_sprite.gif);background-repeat:no-repeat;overflow:hidden;font-size:13px;text-align:center;}
#dynamicLead ol.subNav li a.slide_1{background-position:center 0;}
#dynamicLead ol.subNav li a.slide_2{background-position:center -15px;}
#dynamicLead ol.subNav li a.slide_3{background-position:center -30px;}
#dynamicLead ol.subNav li a.slide_4{background-position:center -45px;}
#dynamicLead ol.subNav li a.slide_5{background-position:center -60px;}
#dynamicLead ol.subNav li a.slide_6{background-position:center -75px;}
#dynamicLead ol.mainNav{list-style-type:none;margin:0;padding:0;font-size:11px;overflow:hidden;display:inline;float:right;height:15px;}
#dynamicLead ol.mainNav li{float:left;margin:0;}
#dynamicLead ol.mainNav li a.ctrl{font-size:13px;}
#dynamicLead ol.mainNav li a.back{background:url(../Images/DynamicLead/dl_button_sprite_.gif) no-repeat left 0;padding:0 0 0 53px;}
#dynamicLead ol.mainNav li a.pause{background:url(../Images/DynamicLead/dl_button_sprite_.gif) no-repeat left -15px;padding:0 0 0 53px;}
#dynamicLead ol.mainNav li a.play{background:url(../Images/DynamicLead/dl_button_sprite_.gif) no-repeat left -30px;padding:0 0 0 53px;}
#dynamicLead ol.mainNav li a.next{background:url(../Images/DynamicLead/dl_button_sprite_.gif) no-repeat left -45px;padding:0 0 0 51px;}
.dlPreview{background:url(../Images/DynamicLead/dlPreview_bkg.png) no-repeat left top;width:118px;height:138px;margin:0;padding:0;position:absolute;z-index:200;padding:0;overflow:hidden;}
.dlPreview .slideContent{height:130px;overflow:hidden;}
.dlPreview .slideContent .mainArtLink{overflow:hidden;height:58px;margin:7px 10px 0 10px;padding:0;display:block;}
.dlPreview .slideContent .mainArtLink img{margin:3px 0 0 0;padding:0;}
.dlPreview .slideContent h6.rubric{margin:10px 0 0 10px;width:410px;padding:0;font-weight:bold;font-size:11px;text-transform:uppercase;height:14px;overflow:hidden;display:none;}
.dlPreview .slideContent h1.title{margin:0 10px;padding:0;font-size:10px;color:#b61900;height:11px;overflow:hidden;}
.dlPreview .slideContent h1.title a, .dlPreview .slideContent h1.title a:hover, .dlPreview .slideContent h1.title a:visited, .dlPreview .slideContent h1.title a:link{color:#900;}
.dlPreview .slideContent p.deck{display:none;}
.dlPreview .slideContent p.deckShort{display:block;margin:0 10px 2px 10px;padding:0;font-size:10px;overflow:hidden;line-height:11px;height:34px;}
.dlPreview .slideContent p.source{text-align:right;margin:0 10px;padding:0;font-size:10px;overflow:hidden;line-height:11px;display:none;}
.dlPreview .slideContent p.date{margin:0 3px;padding:0;font-size:9px;height:39px;overflow:hidden;width:100px;color:#999;text-align:right;}
#dynamicLead .lightBox{float:right;margin:0;overflow:hidden;background:url(../Images/DynamicLead/numsep.png) no-repeat 58px top;width:60px;border:none;padding:0;height:15px;overflow:hidden;}
#dynamicLead .lightBox a{margin:0;background:url(../Images/DynamicLead/dl_button_sprite_.gif) no-repeat left -60px;padding:0 0 0 57px;font-size:13px;border:none;text-decoration:none;}
#dynamicLead .lightBox a.selected{background:url(../Images/DynamicLead/dl_button_sprite_.gif) no-repeat left -75px;padding:0 0 0 57px;font-size:13px;}
.dlRoundCornersLft{clear:both;height:300px;}
.dlRoundCornersLft a{text-decoration:none;}
.dlRoundCornersLft a:hover{text-decoration:none;}
.dlRoundCornersLft .top{background-image:url(../Images/sprite_sheet.gif);background-position:left -24px;background-repeat:no-repeat;height:6px;padding-left:6px;overflow:hidden;}
.dlRoundCornersLft .top div{border-top:1px solid #999;background-color:#ccc;line-height:9px;}
.dlRoundCornersLft .content{padding:0;height:272px;background-color:#ccccc2;border:0;overflow:hidden;}
.dlRoundCornersLft .content .imageDeck{height:270px;width:390px;margin:0 0 6px 6px;border:1px solid #fff;overflow:hidden;background:#000;position:relative;}
.dlRoundCornersLft .content .imageDeck a.mainArt{display:none;height:272px;}
.dlRoundCornersLft .bot{height:28px;}
.dlRoundCornersLft .bot div{height:17px;margin:0;padding:0;height:26px;}
.dlRoundCornersLft .bot div .footer{border:none;background:none;position:relative;z-index:90;margin:0;padding:0;overflow:hidden;top:6px;left:-5px;}
.dlLightBox{width:356px;height:300px;background:url(../Images/DynamicLead/lightbox_bkg2.png) no-repeat left top;padding:0;position:absolute;z-index:2000;cursor:pointer;}
.dlLightBox ul{list-style-type:none;overflow:hidden;margin:11px 0 0 0;padding:0 0 0 11px;float:left;clear:both;}
.dlLightBox ul li{float:left;width:108px;height:128px;overflow:hidden;margin:0 6px 0 0;padding:0;background:#fff url(../Images/DynamicLead/lbsep.gif) repeat-y right top;}
.dlLightBox ul li.last{background:none;margin:0;width:100px;}
.dlLightBox ul li .imageDeck{width:100px;overflow:hidden;height:58px;margin:0 4px 0 0;padding:0;}
.dlLightBox ul li h6.title{width:100px;margin:0 3px;padding:0;font-size:11px;color:#b61900;height:13px;overflow:hidden;}
.dlLightBox ul li p{margin:0 3px;padding:0;font-size:11px;height:40px;overflow:hidden;width:100px;}
.dlLightBox ul li p.date{margin:2px 3px 0 3px;padding:0;font-size:9px;height:20px;overflow:hidden;width:94px;color:#999;text-align:right;}
#dynamicLead ol.mainNav li a.back{background:url(../Images/tt-back.gif) no-repeat;padding:0 0 0 24px;}
#dynamicLead ol.mainNav li a.pause{background:url(../Images/tt-pause.gif) no-repeat;padding:0 0 0 24px;}
#dynamicLead ol.mainNav li a.play{background:url(../Images/tt-next.gif) no-repeat;padding:0 0 0 24px;}
#dynamicLead ol.mainNav li a.next{background:url(../Images/tt-next.gif) no-repeat;padding:0 0 0 24px;}
#dynamicLead .footer .comments{background:url(../Images/comment.gif) no-repeat;padding-left:15px;margin-left:10px;color:#034E8F;font-size:10px;}
#jquery-overlay{position:absolute;top:0;left:0;z-index:90;width:100%;height:500px;}
#jquery-lightbox{position:absolute;top:0;left:0;width:100%;z-index:100;text-align:center;line-height:0;}
#jquery-lightbox a img{border:none;}
#lightbox-container-image-box{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;}
#lightbox-container-image{padding:10px;}
#lightbox-loading{position:absolute;top:40%;left:0%;height:25%;width:100%;text-align:center;line-height:0;}
#lightbox-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10;}
#lightbox-container-image-box > #lightbox-nav{left:0;}
#lightbox-nav a{outline:none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext{width:49%;height:100%;zoom:1;display:block;}
#lightbox-nav-btnPrev{left:0;float:left;}
#lightbox-nav-btnNext{right:0;float:right;}
#lightbox-container-image-data-box{font:10px Verdana, Helvetica, sans-serif;background-color:#fff;margin:0 auto;line-height:1.4em;overflow:auto;width:100%;padding:0 10px 0;}
#lightbox-container-image-data{padding:0 10px;color:#666;}
#lightbox-container-image-data #lightbox-image-details{width:70%;float:left;text-align:left;}
#lightbox-image-details-caption{font-weight:bold;}
#lightbox-image-details-currentNumber{display:block;clear:left;padding-bottom:1.0em;}
#lightbox-secNav-btnClose{width:66px;float:right;padding-bottom:0.7em;}
.advAddcode{width:160px;height:600px;overflow:hidden;}
.adv{padding-bottom:10px;overflow:hidden;}
.adv .photoDeck{float:none;}
.adv1{width:460px;height:100px;}
.adv1 .photoDeck{width:460px;height:100px;}
.adv2{width:500px;height:100px;}
.adv2 .photoDeck{width:500px;height:100px;}
.adv3{width:200px;height:200px;}
.adv3 .photoDeck{width:200px;height:200px;}
.adv4{width:975px;height:100px;}
.adv4 .photoDeck{width:975px;height:100px;}
.adv4 .photoDeck .photo-container{width:975px;}
.adv5{width:990px;height:90px;padding-bottom:5px;overflow:hidden;}
.adv5 .photoDeck{width:990px;height:90px;}
.adv5 .photoDeck .photo-container{width:990px;}
.commentList{}
.commentList .pnl-top{margin-bottom:5px;}
.commentList .pnl-content{height:300px;width:100%;overflow-x:hidden;overflow-y:scroll;}
.commentList div.mainNav{float:right;width:350px;}
.commentList div.mainNav ul{list-style:none;float:right;}
.commentList div.mainNav ul li{float:left;width:14px;overflow:hidden;font-weight:bold;text-align:center;}
.commentList div.mainNav ul li a{color:#999;font-weight:bold;font-size:9pt;}
.commentList div.mainNav ul li a.selected{color:#c00;}
.fontSizeSlider{background:transparent url(../Images/toolbox_scrollbar.gif) no-repeat scroll left center;height:9px;margin:6px 0 0 8px;width:40px;text-align:left;float:right;}
.fontSizeSlider div{background:transparent url(../Images/toolbox_scroller.gif) no-repeat scroll left center;cursor:pointer;height:9px;left:0;position:relative;top:0;width:9px;}
.transp{behavior:url("/css/iepngfix.htc");}
.label{display:block;float:left;}
.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}
.w15{width:15px;}
.w40{width:40px;}
.w50{width:50px;}
.w65{width:65px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w135{width:135px;}
.w150{width:150px;}
.w200{width:200px;}
.w240{width:240px;}
.w270{width:270px;}
.w290{width:290px;}
.w300{width:300px;}
.w340{width:340px;}
.h29{height:29px;}
.mh100{min-height:100px;}
.red{color:#ff0000;}
.red1{color:#cc0000;}
.green{color:#10C731;}
.blue{color:#4269E7;}
.blue1{color:#427AAB}
.blue2{color:#CCE0F1}
.blue3{color:#0162BB}
.blue4{color:blue}
.gray{color:#999;}
.none{display:none;}
.block{display:block;}
.clear{clear:both;}
.fleft{float:left;}
.fright{float:right;}
.fnone{float:none;}
.bold{font-weight:bold;}
.bold0{font-weight:normal;}
.small{font-size:x-small;}
.nowrap{white-space:nowrap;}
.pd05{padding:5px;}
.pr05{padding-right:5px;}
.pl05{padding-left:5px;}
.pl10{padding-left:10px;}
.pb05{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.b0{border:0;}
.bg1{background-color:#f3f4ef;}
.cpointer{cursor:pointer;}
ul{list-style:none;padding:0px;}
.doc a{width:180px;height:22px;overflow:hidden;}
