<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SubSonicService"
				 type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<!-- 
		<add name="VCMSContr" connectionString="server=203.162.71.133;uid=cms; pwd=cms^%$321; database=VietNamNet_V1; Connection Timeout=120"/>
			  -->
		
			<add name="VCMSContr" connectionString="server=203.162.71.52;uid=clip; pwd=clip!@#456!; database=VietNamNet_Clip; Connection Timeout=120"/>
	    

	</connectionStrings>
	<SubSonicService defaultProvider="VCMS">
		<providers>
			<clear/>
			<add name="VCMS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="VCMSContr" generatedNamespace="VideoDAL"/>
		</providers>
	</SubSonicService>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<appSettings>
		<add key="VNN_WEBEXACTOR" value="VNN Internet Exactor Application 1.0" />
		<!-- Bat dau phan cau hinh Cac server streaming can dong bo bang giao thuc FTP-->
		<!-- Server 1: 203.162.71.72-->
		<add key="FtpServer1" value="203.162.71.72" />
		<add key="UserName1" value="vnnclip" />
		<add key="Password1" value="Vnn@)!)Clip" />
		<!-- Server 1: 203.162.71.72-->
		<add key="FtpServer1" value="203.162.71.72" />
		<add key="UserName1" value="vnnclip" />
		<add key="Password1" value="Vnn@)!)Clip" />
		<!-- Ket thuc phan cau hinh Cac server streaming can dong bo bang giao thuc FTP-->
		<!-- Bat dau phan cau hinh thu muc luu tru Media -->
		<add key="rootMediaDir" value="C:/Media/" />
		<add key="VideoType" value="'Video','Audio'" />
		<!-- Thoi gian dinh ky chay service (tinh bang phut) -->
		<add key="TimeInterval" value="3" />
		<!-- Duong dan luu file log -->
		<add key="FileLogPath" value="C:\TEMP\" />
		<!-- File xml chua thong tin ftp server -->
		<add key="FtpServer" value="D:\PROJECTS\VNN\V-CMS\8_Source Code\VNN-CMS\VietNamNet.Video.Sync\VideoSync\Test\FtpServer.xml" />
		<!-- Send file status -->
		<add key="SendStatus" value="" />
		<!-- Delete file status - B: Banana-->
		<add key="DeleteStatus" value="D" />
		<!-- Delete file Result - B: Banana-->
		<add key="DeleteResult" value="B" />
	</appSettings>
</configuration>
