<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- CMS -->
	<add key="CategoryParentError" value="Danh mục cha không được trùng với chính nó!" />
	<add key="ArticleNameCantEmpty" value="Bạn phải nhập Tiêu đề cho tin bài!" />
	<add key="ArticleLeadCantEmpty" value="Bạn phải nhập Trích dẫn cho tin bài!" />
	<add key="ArticleMsgContentCantEmpty" value="Bạn phải nhập Nội dung cho tin bài!" />
	<add key="ArticlePublishDateCantEmpty" value="Bạn phải chọn Ngày giờ xuất bản tin bài!" />
	<add key="ArticleCategoriesCantEmpty" value="Bạn phải chọn Danh mục xuất bản tin bài!" />
	<add key="ArticleCategoriesMissPrimary" value="Bạn phải chọn Danh mục chính cho tin bài!" />
	<add key="ArticleNoteCantEmpty" value="Bạn phải nhập lý do từ chối tin bài!" />
	<add key="ArticleCommentNameCantEmpty" value="Bạn phải nhập Họ tên!" />
	<add key="ArticleCommentEmailCantEmpty" value="Bạn phải nhập Email!" />
	<add key="ArticleCommentNoteCantEmpty" value="Bạn phải nhập lý do từ chối phản hồi!" />
	<add key="ArticleCommentMsgContentCantEmpty" value="Bạn phải nhập Nội dung cho phản hồi!" />
	<add key="ArticleEventNameCantEmpty" value="Bạn phải nhập Tiêu đề cho sự kiện!" />
	<add key="ArticleEventLeadCantEmpty" value="Bạn phải nhập Trích dẫn cho sự kiện!" />
	<add key="ArticleEventMsgContentCantEmpty" value="Bạn phải nhập Nội dung cho sự kiện!" />
	<add key="ArticleEventPublishDateCantEmpty" value="Bạn phải chọn Ngày giờ xuất bản sự kiện!" />
	<add key="ArticleEventCategoriesCantEmpty" value="Bạn phải chọn Danh mục xuất bản sự kiện!" />
	<add key="ArticleEventNoteCantEmpty" value="Bạn phải nhập lý do từ chối sự kiện!" />
	<add key="LeadLimitedAlert" value="Trích dẫn không được vượt quá 50 từ hoặc 250 ký tự!" />
	<add key="UrlCantEmpty" value="Bạn phải nhập Url!" />
	<!-- CMS History -->
	<add key="ArticleCreate" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; tạo mới Tin bài. &lt;br /&gt;" />
	<add key="ArticleSave" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; lưu lại thông tin Tin bài với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleChange" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã thay đổi &quot;{1}&quot; từ &quot;{2}&quot; thành &quot;{3}&quot; &lt;br /&gt;" />
	<add key="ArticleSubmit" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; gửi Tin bài chờ Biên tập với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleEdit" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; đã Biên tập và gửi Tin bài chờ Soát lỗi với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleCorrect" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; đã Soát lỗi và gửi Tin bài chờ Xuất bản với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticlePublish" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; xuất bản Tin bài với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleReject" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; từ chối Tin bài với lí do: {2} &lt;br /&gt;" />
	<add key="ArticleStop" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; đã hạ Tin bài với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleCategoryChangeOrder" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã thay đổi thứ tự của danh mục &quot;{1}&quot; từ &quot;{2}&quot; thành &quot;{3}&quot; &lt;br /&gt;" />
	<add key="ArticleCategoryChangePrimary" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã chọn danh mục &quot;{1}&quot; thành danh mục chính của Tin bài &lt;br /&gt;" />
	<add key="ArticleCategoryAddnew" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã &lt;b&gt;Thêm&lt;/b&gt; danh mục &quot;{1}&quot; vào Tin bài &lt;br /&gt;" />
	<add key="ArticleCategoryDelete" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã &lt;b&gt;Xóa&lt;/b&gt; danh mục &quot;{1}&quot; khỏi Tin bài &lt;br /&gt;" />
	<add key="ArticleMediaChange" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã thay đổi file media &quot;{1}&quot;: thứ tự thành &quot;{2}&quot; và mô tả thành &quot;{3}&quot; &lt;br /&gt;" />
	<add key="ArticleMediaAddnew" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã &lt;b&gt;Thêm&lt;/b&gt; file media &quot;{1}&quot; vào Tin bài &lt;br /&gt;" />
	<add key="ArticleMediaDelete" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã &lt;b&gt;Xóa&lt;/b&gt; file media &quot;{1}&quot; khỏi Tin bài &lt;br /&gt;" />
	<add key="ArticleCommentCreate" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; tạo mới Phản hồi. &lt;br /&gt;" />
	<add key="ArticleCommentSave" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; lưu lại thông tin Phản hồi với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleCommentChange" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã thay đổi &quot;{1}&quot; từ &quot;{2}&quot; thành &quot;{3}&quot; &lt;br /&gt;" />
	<add key="ArticleCommentPublish" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; xuất bản Phản hồi với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleCommentReject" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; từ chối Phản hồi với lí do: {2} &lt;br /&gt;" />
	<add key="ArticleCommentStop" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; đã hạ Phản hồi với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleEventCreate" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; tạo mới Sự kiện. &lt;br /&gt;" />
	<add key="ArticleEventSave" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; lưu lại thông tin Sự kiện với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleEventChange" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã thay đổi &quot;{1}&quot; từ &quot;{2}&quot; thành &quot;{3}&quot; &lt;br /&gt;" />
	<add key="ArticleEventSubmit" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; gửi Sự kiện chờ Biên tập với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleEventEdit" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; đã Biên tập và gửi Sự kiện chờ Soát lỗi với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleEventCorrect" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; đã Soát lỗi và gửi Sự kiện chờ Xuất bản với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleEventPublish" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; xuất bản Sự kiện với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleEventReject" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; từ chối Sự kiện với lí do: {2} &lt;br /&gt;" />
	<add key="ArticleEventStop" value="&lt;br /&gt;{1}: &lt;b&gt;{0}&lt;/b&gt; đã hạ Sự kiện với ghi chú: {2} &lt;br /&gt;" />
	<add key="ArticleEventCategoryChangeOrder" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã thay đổi thứ tự của danh mục &quot;{1}&quot; từ &quot;{2}&quot; thành &quot;{3}&quot; &lt;br /&gt;" />
	<add key="ArticleEventCategoryChangePrimary" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã chọn danh mục &quot;{1}&quot; thành danh mục chính của Sự kiện &lt;br /&gt;" />
	<add key="ArticleEventCategoryAddnew" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã &lt;b&gt;Thêm&lt;/b&gt; danh mục &quot;{1}&quot; vào Sự kiện &lt;br /&gt;" />
	<add key="ArticleEventCategoryDelete" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã &lt;b&gt;Xóa&lt;/b&gt; danh mục &quot;{1}&quot; khỏi Sự kiện &lt;br /&gt;" />
	<add key="ArticleEventItemChange" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã thay đổi bài viết &quot;{1}&quot;: thứ tự thành &quot;{2}&quot; &lt;br /&gt;" />
	<add key="ArticleEventItemAddnew" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã &lt;b&gt;Thêm&lt;/b&gt; bài viết &quot;{1}&quot; vào Sự kiện &lt;br /&gt;" />
	<add key="ArticleEventItemDelete" value="&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &lt;b&gt;{0}&lt;/b&gt; đã &lt;b&gt;Xóa&lt;/b&gt; bài viết &quot;{1}&quot; khỏi Sự kiện &lt;br /&gt;" />
</appSettings>