<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="AJAXConfiguration" type="VietNamNet.Framework.AJAX.AJAXConfigurationSectionHandler, VietNamNet.Framework.AJAX" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>

	<!--AJAX Service Configuration-->
	<location path="ajax">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="VietNamNet.Framework.AJAX.AJAXHandler"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--AJAX Service Configuration-->
	<AJAXConfiguration Type="VietNamNet.Framework.AJAX.AJAXConfiguration" Assembly="VietNamNet.Framework.AJAX">
		<AJAXService Name="ajaxProxy" Type="VietNamNet.Framework.AJAX.AJAXProxyService" Assembly="VietNamNet.Framework.AJAX" NoCache="true" CacheTime="5" />
		<AJAXService Name="rssProxy" Type="VietNamNet.Framework.AJAX.RSSProxyService" Assembly="VietNamNet.Framework.AJAX" NoCache="true" CacheTime="5" />
	</AJAXConfiguration>
	<!--END AJAX Service Configuration-->

	<!--Biz Configuration-->
	<BizConfiguration ObjectType="VietNamNet.Framework.Biz.BizObject" Assembly="VietNamNet.Framework.Biz">
		<!-- CMS -->
		<BizObject Name="ArticleManager" Type="VietNamNet.CMS.BizLogic.ArticleManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="ArticleCategoryManager" Type="VietNamNet.CMS.BizLogic.ArticleCategoryManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="ArticleCommentManager" Type="VietNamNet.CMS.BizLogic.ArticleCommentManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="ArticleContentTypeManager" Type="VietNamNet.CMS.BizLogic.ArticleContentTypeManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="ArticleTypeManager" Type="VietNamNet.CMS.BizLogic.ArticleTypeManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="ArticleMediaManager" Type="VietNamNet.CMS.BizLogic.ArticleMediaManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="ArticleVersionManager" Type="VietNamNet.CMS.BizLogic.ArticleVersionManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="ArticleEventManager" Type="VietNamNet.CMS.BizLogic.ArticleEventManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="ArticleEventCategoryManager" Type="VietNamNet.CMS.BizLogic.ArticleEventCategoryManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="ArticleEventItemManager" Type="VietNamNet.CMS.BizLogic.ArticleEventItemManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="CategoryManager" Type="VietNamNet.CMS.BizLogic.CategoryManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="CategoryPolicyManager" Type="VietNamNet.CMS.BizLogic.CategoryPolicyManager" Assembly="VietNamNet.CMS"/>
		<BizObject Name="CollaboratorManager" Type="VietNamNet.CMS.BizLogic.CollaboratorManager" Assembly="VietNamNet.CMS"/>
	</BizConfiguration>
	<!--END Biz Configuration-->

	<appSettings file="Message.config">
		<!-- CMS-->
		<add key="ImageFileType" value=".jpg,.jpeg,.gif,.png"/>
		<add key="FlashFileType" value="*.swf"/>
		<add key="AudioFileType" value=".mp3,.mid,.amr,.wav,.wma"/>
		<add key="VideoFileType" value=".wmv,.mp4,.flv,.avi"/>
		<add key="LeadMaxWords" value="50"/>
		<add key="LeadMaxChars" value="250"/>
	</appSettings>

</configuration>