<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<appSettings>
		<add key="SurveyLogFilePath" value="C:\working new\8_Source Code\VNN-CMS\VietNamNet.AddOn\VietNamNet.AddOn.Tracker\tracker\log4net\Survey\SurveyLog{0}.txt" />
		<add key="SurveyTrackerInterval" value="300" /><!--count as second-->

		
		<add key="CommentLogFilePath" value="C:\working new\8_Source Code\VNN-CMS\VietNamNet.AddOn\VietNamNet.AddOn.Tracker\tracker\log4net\Comment\CommentLog{0}.txt" />
		<add key="CommentTrackerInterval" value="300" /><!--count as second-->
 

		<add key="ArticleLogFilePath" value="\\10.4.6.77\Share\sondn\log4net\Sport\log4net_sports_process\log4net\Article\ArticleLog{0}.txt" />
		<add key="ArticleTrackerInterval" value="300" /><!--count as second-->
 


		<add key="AutoClose" value="false" />
		<add key="AutoClose" value="false" />
		<!-- 
			SpeedTestProcess
			SurveyProcess
			ArticleProcess
			CommentProcess
		-->
		<add key="StartupForm" value="ArticleProcess" />

	</appSettings>


	<connectionStrings>
		<add name="VNN_V1_tracker" connectionString="server=203.162.71.133;uid=cms; pwd=cms^%$321; database=VietNamNet_V1_tracker; Connection Timeout=120"/>
		<add name="VNN_V1" connectionString="server=203.162.71.133;uid=cms; pwd=cms^%$321; database=VietNamNet_V1; Connection Timeout=120"/>
	</connectionStrings>
	<SubSonicService defaultProvider="VNN"  enableTrace="false" templateDirectory="">
		<providers>
			<clear/>
			<add name="VNN_Tracker" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="VNN_V1_tracker" generatedNamespace="VietNamNet.AddOn.Tracker.Core.tracker"/>
			<add name="VNN" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="VNN_V1" generatedNamespace="VietNamNet.AddOn.Tracker.Core.CMS"/>
		</providers>
	</SubSonicService>

	<log4net debug="false">
		<root>
			<priority value="ALL" />
			<level value="ERROR" />
			<appender-ref ref="ErrorAppender" />
		</root>
		<logger name="VietNamNet.Framework.Tracking.Process.Comment">
			<level value="INFO"/>
			<appender-ref ref="CommentAppender" />
		</logger>
		<logger name="VietNamNet.Framework.Tracking.Process.Survey">
			<level value="INFO"/>
			<appender-ref ref="SurveyAppender" />
		</logger>
		<logger name="VietNamNet.Framework.Tracking.Process.Article">
			<level value="INFO"/>
			<appender-ref ref="ArticleAppender" />
		</logger>

		<appender name="SurveyAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\Survey\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'SurveyLog'yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		<appender name="ArticleAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\Article\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'ArticleLog'yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		<appender name="CommentAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\Comment\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'CommentLog'yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>

		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\error\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'ErrorLog'yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
	</log4net>
</configuration>