<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FTPHost" value="203.162.71.50"/>
		<add key="FTPPort" value="21"/>
		<add key="FTPUser" value="sports_crawling"/>
		<add key="FTPPass" value="sports_crawling@vnn!@#456"/>
		<add key="FTPFolder" value=""/>
		<!-- Active = 2, Passive = 1 -->
		<add key="FTPMode" value="1"/>
		<!-- ASCII = 1, Binary = 2 -->
		<add key="FTPTransferType" value="1"/>
	</appSettings>
</configuration>