<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="NoRightToAccess" value="Bạn không có quyền Truy cập." />
	<add key="NoRightToCreate" value="Bạn không có quyền Tạo mới." />
	<add key="NoRightToDelete" value="Bạn không có quyền Xóa." />
	<add key="ItemDoesntExist" value="Item không tồn tại." />
</appSettings>