<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="SubSonicService"
				 type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="VCMSContr" connectionString="server=(local)\SQL2008;uid=cms; pwd=cms; database=Vnn4Mobi; Connection Timeout=120"/>
	</connectionStrings>
	<SubSonicService defaultProvider="VCMS">
		<providers>
			<clear/>
			<add name="VCMS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="VCMSContr" generatedNamespace="DAL"/>
		</providers>
	</SubSonicService>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog" />
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
		<add key="VNN_WEBEXACTOR" value="VNN Internet Exactor Application 1.0" />

		<add key="UserName" value="" />
		<add key="Password" value="" />
		<add key="Domain" value="" />
		<add key="Proxy" value="0" />
		<add key="ProxyAddress" value="" />
		<add key="ProxyPort" value="" />
		<add key="TimeInterval" value="10" />
		<add key="WebPath" value="E:\Projects\webextrator\WebExactor\NNKSOFT_WEBETR\InternetNews" />
		<add key="CurrentState" value="1" />
		<add key="ImageDirectory" value="E:\Projects\webextrator\NNKSOFT_WEBETR\InternetNews\INTERNETIMAGES" />
		<!-- Duong dan den server luu images va duoc xu ly qua url phia duoi truoc khi hien thi tren Mobile -->	
		<add key="ImageUrl" value="http://m.vietnamnet.vn/thumb/view.imgx?file={link}" />
		<add key="OilUrl" value="http://daukhi.vietnamnet.vn/oil/{link}" />
		
		<add key="WeatherXPath" value="//span//table//tr//td//table//tr" />
		<add key="GoldXPathEXIM" value="//span//td" />
		<add key="ExRateWs" value="http://www.vietcombank.com.vn/ExchangeRates/ExrateXML.aspx" />
		<add key="ExRateNodes" value="//ExrateList//Exrate" />
		<add key="GoldXPathSJC" value="//span//div//table//tr//td" />

		<add key="ConnectionString" value="Server=(local)\SQL2008;Database=Vnn4Mobi;Integrated Security=false;User Id=cms;Password=cms" />
		<!--
      <add key="FtpServer" value="10.4.6.78" />
      <add key="FtpUserName" value="phongdh" />
      <add key="FtpPassword" value="phongdh" />
-->
		<!-- Start Ftp server of VNN -->

		<add key="FtpServer" value="10.4.6.78" />
		<add key="FtpUserName" value="mobi" />
		<add key="FtpPassword" value="mobi" />
		

		<!-- End Ftp server of VNN -->

		<!-- Start Ftp server of Oil -->

		<add key="OilFtpServer" value="203.162.71.46" />
		<add key="OilFtpUserName" value="petro" />
		<add key="OilFtpPassword" value="hnvnn!" />
		<add key="OilFtpRemoteDir" value="/VietNamNet.Websites.Petro/oil" />
		
		<!-- End Ftp server of Oil -->
		
		<add key="WeatherTemplateHtml" value="E:\Projects\webextrator\NNKSOFT_WEBETR\Templates\vnn_thoitiet_box.htm" />
		<add key="GoldTemplateHtml" value="" />
		<add key="CkTemplateHtml" value="E:\Projects\webextrator\NNKSOFT_WEBETR\Templates\vnn_ck_box.htm" />
		<add key="ExRateTemplateHtml" value="E:\Projects\webextrator\NNKSOFT_WEBETR\Templates\vnn_tygia_box.htm" />
		<add key="ExRateHtmlPath" value="c:\Tomcat6\webapps\VNN\index.htm" />
		<add key="WeatherHtmlPath" value="c:\Tomcat6\webapps\VNN\weather.htm" />
		<add key="StockHtmlPath" value="c:\Tomcat6\webapps\VNN\BOX\stock\index.htm" />
		<add key="FileLogPath" value="E:\Logs\" />

		<add key="hotnewsCateId" value="40" />
		<add key="mostreadednewsCateId" value="40" />
		<add key="2SaoCateId" value="40" />
		<add key="TtolCateId" value="40" />

		<!--
      <add key="ConnectionString"
          value="Server=203.162.71.46;Database=giavang;Integrated Security=false;User Id=giavang;Password=123456Gv;" />
           -->
		<add key="ConnectionStringGW" value="Server=localhost;Port=3306;Database=smsgw;Uid=root;Pwd=R00t1122334455" />
		<add key="ODPConnStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=MyHost)(PORT=MyPort)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=MyOracleSID)));User Id=myUsername;Password=myPassword;" />
	</appSettings>

</configuration>