<?xml version="1.0"?>
<configuration>

	<appSettings file="Message.config">
		<!-- Media Manager-->
		<add key="UpLoadDirectory" value="Resources"/>
		<add key="PublicDirectory" value="Public"/>
		<add key="PublicImageDirectory" value="PublicImages"/>
		<add key="PublicAudioDirectory" value="PublicAudio"/>
		<add key="PublicVideoDirectory" value="PublicVideo"/>
		<add key="ThumbnailDirectory" value="_thumb"/>
		<add key="TempDirectory" value="Temp"/>
		<add key="CommonDirectory" value="Common"/>
		<add key="TemplateDirectory" value="Template"/>
		<add key="FileTypeAllow" value="*.jpg,*.jpeg,*.gif,*.png,*.mp3,*.mp4,*.mid,*.amr,*.wav,*.wma,*.flv,*.wmv,*.swf,*.txt,*.doc,*.docx,*.xls,*.xlsx,*.pdf,*.zip,*.rar"/>
		<add key="ImageFileType" value=".jpg,.jpeg,.gif,.png"/>
		<add key="AudioFileType" value=".mp3,.mid,.amr,.wav,.wma"/>
		<add key="VideoFileType" value=".mp4,.flv,.wmv"/>
		<add key="FlashFileType" value=".swf"/>
		<add key="DeleteFromPhysical" value="YES"/>
		<add key="ThumbnailHeight" value="67"/>
		<add key="ThumbnailWidth" value="100"/>
		<add key="MaxUploadFileSize" value="5120"/>
		<add key="MaxUploadFileZipSize" value="20480"/>
		<add key="PublicServerLink" value=""/>
		<add key="ImageServerLink" value=""/>
		<add key="AudioServerLink" value=""/>
		<add key="VideoServerLink" value=""/>
	</appSettings>

</configuration>