<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>images</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <table align="center" width="400" class="quote center">
            <tbody>
                <tr>
                    <td>
                        <p>
                            Cuộc thi ảnh VNN</p>
                        <p>
                            <b>Cuộc thi bắt đầu từ 1/10 và kết thúc ngày 15/10.</b></p>
                        <p>
                            + <b>Cách tính giải:</b> Chùm ảnh, bài viết được đăng trên VietNamNet và đo lượng
                            truy cập vào ảnh và bài tính theo số liệu trên hệ thống đo kiểm của Google.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
