<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog" />
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
		<add key="VNN_WEBEXACTOR" value="VNN Internet Exactor Application 1.0" />

		<add key="UserName" value="" />
		<add key="Password" value="" />
		<add key="Domain" value="" />
		<add key="Proxy" value="0" />
		<add key="ProxyAddress" value="" />
		<add key="ProxyPort" value="" />
		<add key="TimeInterval" value="10" />
		<add key="WebPath" value="E:\webextrator\NNKSOFT_WEBETR\InternetNews\" />
		<add key="CurrentState" value="1" />
		<add key="ImageDirectory" value="E:\webextrator\NNKSOFT_WEBETR\InternetNews\INTERNETIMAGES\" />
		<add key="WeatherXPath" value="//span//table//tr//td//table//tr" />
		<add key="GoldXPathEXIM" value="//span//td" />
		<add key="ExRateWs" value="http://www.vietcombank.com.vn/ExchangeRates/ExrateXML.aspx" />
		<add key="ExRateNodes" value="//ExrateList//Exrate" />
		<add key="GoldXPathSJC" value="//span//div//table//tr//td" />

		<add key="ConnectionString" value="Server=(local);Database=Vnn4mobi;Integrated Security=false;User Id=cms;Password=cms;" />
		<add key="ConnectionStringGW" value="Server=localhost;Port=3306;Database=smsgw;Uid=root;Pwd=R00t1122334455" />
		<add key="ODPConnStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=MyHost)(PORT=MyPort)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=MyOracleSID)));User Id=myUsername;Password=myPassword;" />
	</appSettings>
</configuration>