<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
		<section name="BizConfiguration" type="VietNamNet.Framework.Biz.ConfigSerializerSectionHandler, VietNamNet.Framework.Biz" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="AJAXConfiguration" type="VietNamNet.Framework.AJAX.AJAXConfigurationSectionHandler, VietNamNet.Framework.AJAX" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>

	<connectionStrings/>

	<system.web>
		<sessionState timeout="30"></sessionState>
		<compilation debug="false">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
			<error statusCode="403" redirect="Error.aspx?msg=NoAccess"/>
			<error statusCode="404" redirect="Error.aspx?msg=FileNotFound"/>
		</customErrors>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add path="Captcha.ashx" verb="*" type="VietNamNet.Framework.Common.Captcha.CaptchaHandler"/>
		</httpHandlers>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
		</httpModules>
		<httpRuntime maxRequestLength="20480"/>
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="SystemCache" enabled="true" duration="120" varyByParam="*" varyByControl="None" />
					<add name="HomepageCache" enabled="true" duration="120" varyByParam="None" varyByControl="None" />
					<add name="CategoryCache" enabled="true" duration="120" varyByParam="*" varyByControl="None" />
					<add name="ArticleCache" enabled="true" duration="240" varyByParam="*" varyByControl="None" />
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
	</system.web>

	<!-- View thumbnail -->
	<location path="thumb">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="VietNamNet.Framework.Common.ViewThumbnail"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--UrlRewirting Configuration-->
	<urlrewritingnet
		  rewriteOnlyVirtualUrls="true"
		  contextItemsPrefix="QueryString"
		  defaultPage = "/Default.aspx"
		  defaultProvider="RegEx"
		  xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
		<rewrites>
			<add name="Error" virtualUrl="^~/vn/error/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx" ignoreCase="true"/>
			<add name="ErrorMsg" virtualUrl="^~/vn/error/(.*)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx?Msg=$1" ignoreCase="true"/>
			<add name="Homepage" virtualUrl="^~/vn/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true"/>
			<add name="RSS" virtualUrl="^~/vn/rss/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/RSS.aspx" ignoreCase="true"/>
			<add name="Introduction" virtualUrl="^~/vn/gioi-thieu/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Introduction.aspx" ignoreCase="true"/>
			<add name="Prize" virtualUrl="^~/vn/giai-thuong/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/GiaiThuong.aspx" ignoreCase="true"/>
			<add name="Contact" virtualUrl="^~/vn/lien-he/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/LienHe.aspx" ignoreCase="true"/>
			<add name="Feedback" virtualUrl="^~/vn/phan-hoi/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/V1/SendFeedback.aspx" ignoreCase="true"/>

			<add name="Print" virtualUrl="^~/vn/print/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="Print1" virtualUrl="^~/vn/print/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1-$2&amp;DocId=$3" ignoreCase="true"/>
			<add name="Print2" virtualUrl="^~/vn/print/([-\w]+)/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1-$2-$3&amp;DocId=$4" ignoreCase="true"/>

			<add name="PrintBbc" virtualUrl="^~/vn/printbbc/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Bbc/Print.aspx?CateAlias=$1&amp;DocId=$2" ignoreCase="true"/>

			<add name="Search" virtualUrl="^~/vn/tim-kiem/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Search.aspx" ignoreCase="true"/>
			<add name="SearchK" virtualUrl="^~/vn/tim-kiem/([\s\w\d-+]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Search.aspx?keyword=$1" ignoreCase="true"/>

			<add name="NewsVNN" virtualUrl="^~/vn/vnn/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsVNN.aspx?DocId=$1" ignoreCase="true"/>

			<add name="CategoryPage" virtualUrl="^~/vn/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1&amp;Page=$2" ignoreCase="true"/>
			<add name="NewsDetail" virtualUrl="^~/vn/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="Category" virtualUrl="^~/vn/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1" ignoreCase="true"/>

			<add name="SubCategoryPage" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="SubNewsDetail" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1-$2&amp;DocId=$3" ignoreCase="true"/>
			<add name="SubCategory" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2" ignoreCase="true"/>

			<add name="Sub2CategoryPage" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2-$3&amp;Page=$4" ignoreCase="true"/>
			<add name="Sub2NewsDetail" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1-$2-$3&amp;DocId=$4" ignoreCase="true"/>
			<add name="Sub2Category" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2-$3" ignoreCase="true"/>

			<add name="FileNotFound" virtualUrl="^~/vn/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx?Msg=FileNotFound" ignoreCase="true"/>
		</rewrites>
	</urlrewritingnet>
	<!--END UrlRewirting Configuration-->

	<!--RSS Configuration-->
	<location path="rss">
		<system.web>
			<httpHandlers>
				<add path="*.rss" verb="*" type="VietNamNet.Websites.Core.Common.RSSHandler"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--AJAX Service Configuration-->
	<location path="ajax">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="VietNamNet.Framework.AJAX.AJAXHandler"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--AJAX Service Configuration-->
	<AJAXConfiguration Type="VietNamNet.Framework.AJAX.AJAXConfiguration" Assembly="VietNamNet.Framework.AJAX">
		<AJAXService Name="getMedia" Type="VietNamNet.Websites.Core.AJAX.GetMedia" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="getTopMedia" Type="VietNamNet.Websites.Core.AJAX.GetTopMedia" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="getAdvertisement" Type="VietNamNet.Websites.Core.AJAX.GetAdvertisement" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="getComment" Type="VietNamNet.Websites.Core.AJAX.GetComment" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="sendMail" Type="VietNamNet.Websites.Core.AJAX.SendEmail" Assembly="VietNamNet.Websites.Core" NoCache="true" />
		<!-- Survey Service Configuration -->
		<AJAXService Name="Survey" 	Type="VietNamNet.Survey.Core.AJAX.srvGetSurvey" Assembly="VietNamNet.Websites.Core" NoCache="true" />
	</AJAXConfiguration>
	<!--END AJAX Service Configuration-->

	<!--Biz Configuration-->
	<BizConfiguration ObjectType="VietNamNet.Framework.Biz.BizObject" Assembly="VietNamNet.Framework.Biz">
		<!-- Website Core -->
		<BizObject Name="SurveyManager" Type="VietNamNet.Websites.Core.BizLogic.SurveyManager" Assembly="VietNamNet.Websites.Core" />
		<BizObject Name="WebsitesManager" Type="VietNamNet.Websites.Core.BizLogic.WebsitesManager" Assembly="VietNamNet.Websites.Core" />
		<BizObject Name="AdvertisementManager" Type="VietNamNet.Websites.Core.BizLogic.AdvertisementManager" Assembly="VietNamNet.Websites.Core" />
		<!-- System -->
		<BizObject Name="ConfigurationManager" Type="VietNamNet.Framework.System.BizLogic.ConfigurationManager" Assembly="VietNamNet.Framework.System"/>
	</BizConfiguration>
	<!--END Biz Configuration-->

	<appSettings file="Message.config">
		<!-- AppSetting -->
		<add key="System.AddOn" value="Default,Classical,Standard"/>
		<add key="System.AddOn.File" value="~/Default.Master,~/Classical.Master,~/Standard.Master"/>
		<add key="SqlConnectionString" value="server=203.162.71.50;uid=sports; pwd=sports@vnn123#@!; database=VietNamNet_Sports; Connection Timeout=120"/>
		<add key="CultureInfo" value="en-AU"/>
		<add key="Security" value="ON"/>
		<add key="Captcha" value="ON"/>
		<add key="CaptchaKey" value="abanhdt12$%^bg"/>
		<add key="CaptchaSalt" value="dtuananh"/>
		<add key="LogLevel" value="2"/>
		<add key="TimeCaching" value="5"/>
		<add key="PageSize" value="15"/>
		<add key="CommentPageSize" value="5"/>
		<add key="PageViewSize" value="15"/>
		<add key="DisplayDateTimeFormat" value="dd/MM/yyyy hh:mm:ss tt"/>
		<add key="DisplayDateFormat" value="dd/MM/yyyy"/>
		<add key="DisplayNumberFormat" value="#,##0"/>
		<add key="DisplayDecimalFormat" value="#,##0.00"/>
		<add key="Currency" value="VNĐ"/>
		<add key="MinDate" value="01/01/1753"/>
		<add key="UserGroupID" value="1"/>
		<add key="AdminGroupID" value="1"/>
		<add key="ValidImageWidth" value="100"/>
		<add key="ValidImageHeight" value="30"/>
		<!-- Email-->
		<add key="SMTPMailServer" value="smtp.vietnamnet.vn"/>
		<add key="SMTPMailServerPort" value="25"/>
		<add key="SMTPMailServerSecure" value="NO"/>
		<add key="SystemEmail" value="support@vietnamnet.vn"/>
		<add key="SystemEmailAlias" value="Hỗ trợ VietNamNet"/>
		<add key="SystemEmailLoginname" value="support@vietnamnet.vn"/>
		<add key="SystemEmailPasword" value="support"/>
		<add key="POP3MailServer" value="mail.vietnamnet.vn"/>
		<add key="POP3MailServerPort" value="110"/>
		<add key="POP3MailServerSecure" value="NO"/>
		<!-- Media Manager-->
		<add key="UpLoadDirectory" value="Resources"/>
		<add key="PublicDirectory" value="Public"/>
		<add key="PublicImageDirectory" value="PublicImages"/>
		<add key="PublicAudioDirectory" value="PublicAudio"/>
		<add key="PublicVideoDirectory" value="PublicVideo"/>
		<add key="ThumbnailDirectory" value="_thumb"/>
		<add key="TempDirectory" value="Temp"/>
		<add key="CommonDirectory" value="Common"/>
		<add key="TemplateDirectory" value="Template"/>
		<add key="FileTypeAllow" value="*.jpg,*.jpeg,*.gif,*.png,*.mp3,*.mp4,*.mid,*.amr,*.wav,*.wma,*.flv,*.wmv,*.swf,*.txt,*.doc,*.docx,*.xls,*.xlsx,*.pdf,*.zip,*.rar"/>
		<add key="ImageFileType" value=".jpg,.jpeg,.gif,.png"/>
		<add key="AudioFileType" value=".mp3,.mid,.amr,.wav,.wma"/>
		<add key="VideoFileType" value=".mp4,.flv,.wmv"/>
		<add key="DeleteFromPhysical" value="YES"/>
		<add key="ThumbnailHeight" value="119"/>
		<add key="ThumbnailWidth" value="178"/>
		<add key="MaxUploadFileSize" value="5120"/>
		<add key="MaxUploadFileZipSize" value="20480"/>
		<add key="PublicServerLink" value=""/>
		<add key="ImageServerLink" value=""/>
		<add key="AudioServerLink" value=""/>
		<add key="VideoServerLink" value=""/>
		<!-- Copyright -->
		<add key="CopyrightName" value="VietNamNet"/>
		<add key="CopyrightLink" value="http://www.VietNamNet.vn/"/>
		<add key="PoweredName" value="VietNamNet"/>
		<add key="PoweredLink" value="http://www.VietNamNet.vn/"/>
		<!-- RSS config key -->
		<add key="WebsiteTitle" value="Thể Thao Vietnamnet - Báo điện tử Vietnamnet"/>
		<add key="WebsiteLink" value="http://thethao.vietnamnet.vn"/>
		<add key="WebsiteDesc" value="Thể Thao Vietnamnet - Báo điện tử Vietnamnet"/>
		<add key="WebsiteCopy" value="&copy; Vietnamnet - Báo điện tử Vietnamnet"/>
		<!-- Website & WAP site -->
		<add key="Homepage" value="/vn/index.html"/>
		<add key="StandardDomain" value="http://demo.thethao.vietnamnet.vn"/>
		<add key="MobileDomain" value="http://m.thethao.vietnamnet.vn"/>
		<add key="MobilePort" value="80"/>
	</appSettings>

</configuration>