<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="BizConfiguration" type="VietNamNet.Framework.Biz.ConfigSerializerSectionHandler, VietNamNet.Framework.Biz" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>

	<connectionStrings/>

	<system.web>
		<authentication mode="Windows"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
			<error statusCode="403" redirect="Error.aspx?msg=NoAccess"/>
			<error statusCode="404" redirect="Error.aspx?msg=FileNotFound"/>
		</customErrors>
	</system.web>

	<!--Biz Configuration-->
	<BizConfiguration ObjectType="VietNamNet.Framework.Biz.BizObject" Assembly="VietNamNet.Framework.Biz">
		<!-- System -->
		<BizObject Name="ConfigurationManager" Type="VietNamNet.Framework.System.BizLogic.ConfigurationManager" Assembly="VietNamNet.Framework.System"/>
		<BizObject Name="FunctionManager" Type="VietNamNet.Framework.System.BizLogic.FunctionManager" Assembly="VietNamNet.Framework.System"/>
		<BizObject Name="GroupManager" Type="VietNamNet.Framework.System.BizLogic.GroupManager" Assembly="VietNamNet.Framework.System"/>
		<BizObject Name="GroupMemberManager" Type="VietNamNet.Framework.System.BizLogic.GroupMemberManager" Assembly="VietNamNet.Framework.System"/>
		<BizObject Name="LoggingManager" Type="VietNamNet.Framework.System.BizLogic.LoggingManager" Assembly="VietNamNet.Framework.System"/>
		<BizObject Name="MenuManager" Type="VietNamNet.Framework.System.BizLogic.MenuManager" Assembly="VietNamNet.Framework.System"/>
		<BizObject Name="ModuleManager" Type="VietNamNet.Framework.System.BizLogic.ModuleManager" Assembly="VietNamNet.Framework.System"/>
		<BizObject Name="PolicyManager" Type="VietNamNet.Framework.System.BizLogic.PolicyManager" Assembly="VietNamNet.Framework.System"/>
		<BizObject Name="UserManager" Type="VietNamNet.Framework.System.BizLogic.UserManager" Assembly="VietNamNet.Framework.System"/>
		<!-- Website Core -->
		<BizObject Name="WebsitesManager" Type="VietNamNet.Websites.Core.BizLogic.WebsitesManager" Assembly="VietNamNet.Websites.Core" />
		<BizObject Name="AdvertisementManager" Type="VietNamNet.Websites.Core.BizLogic.AdvertisementManager" Assembly="VietNamNet.Websites.Core" NoCahe="true" />
	</BizConfiguration>
	<!--END Biz Configuration-->

	<appSettings file="Message.config">
		<!-- AppSetting -->
		<add key="System.Layout" value="Default,Classical,Standard"/>
		<add key="System.Layout.File" value="~/Default.Master,~/Classical.Master,~/Standard.Master"/>
		<add key="SqlConnectionString" value="server=203.162.71.133;uid=cms; pwd=cms^%$321; database=VietNamNet_V1; Connection Timeout=120"/>
		<add key="CultureInfo" value="en-AU"/>
		<add key="Security" value="ON"/>
		<add key="Captcha" value="ON"/>
		<add key="CaptchaKey" value="abanhdt12$%^bg"/>
		<add key="CaptchaSalt" value="dtuananh"/>
		<add key="LogLevel" value="2"/>
		<add key="TimeCaching" value="20"/>
		<add key="PageSize" value="30"/>
		<add key="PageViewSize" value="10"/>
		<add key="DisplayDateTimeFormat" value="dd/MM/yyyy hh:mm:ss tt"/>
		<add key="DisplayDateFormat" value="dd/MM/yyyy"/>
		<add key="DisplayNumberFormat" value="#,##0"/>
		<add key="DisplayDecimalFormat" value="#,##0.00"/>
		<add key="Currency" value="VNĐ"/>
		<add key="MinDate" value="01/01/1753"/>
		<add key="UserGroupID" value="1"/>
		<add key="AdminGroupID" value="1"/>
		<!-- Email-->
		<add key="SMTPMailServer" value="smtp.vietnamnet.vn"/>
		<add key="SMTPMailServerPort" value="25"/>
		<add key="SMTPMailServerSecure" value="NO"/>
		<add key="SystemEmail" value="kt_vietnamnet@vietnamnet.vn"/>
		<add key="SystemEmailAlias" value="Phòng kỹ thuật điều hành - VietNamNet"/>
		<add key="SystemEmailLoginname" value="kt_vietnamnet"/>
		<add key="SystemEmailPasword" value="kt_vietnamnet"/>
		<add key="POP3MailServer" value="mail.vietnamnet.vn"/>
		<add key="POP3MailServerPort" value="110"/>
		<add key="POP3MailServerSecure" value="NO"/>
		<!-- Copyright -->
		<add key="CopyrightName" value="VietNamNet"/>
		<add key="CopyrightLink" value="http://www.VietNamNet.vn/"/>
		<add key="PoweredName" value="VietNamNet"/>
		<add key="PoweredLink" value="http://www.VietNamNet.vn/"/>
	</appSettings>

</configuration>