<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SubSonicService"
				 type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="VCMSContr" connectionString="server=(local)\SQL2008;uid=cms; pwd=cms; database=VietNamNet; Connection Timeout=120"/>
	</connectionStrings>
	<SubSonicService defaultProvider="VCMS">
		<providers>
			<clear/>
			<add name="VCMS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="VCMSContr" generatedNamespace="DAL"/>
		</providers>
	</SubSonicService>
</configuration>