.loading{background:#555 url(../Images/loading.gif) no-repeat center center;overflow:hidden;position:absolute;padding:0;}
.loading1{background:#555 url(../Images/loading1.gif) no-repeat center center;overflow:hidden;position:absolute;padding:0;}
.box{margin-bottom:10px;}
.box .top, .box .top div, .box .bottom, .box .bottom div{height:6px;overflow:hidden;font-size:1px;line-height:0;clear:both;background:url(../Images/sprite_sheet.gif) no-repeat;}
.box .top{background-position:left -144px;padding-left:6px;}
.box .bottom{background-position:left -150px;padding-left:6px;}
.box .top div{background-position:right -156px;padding-right:6px;}
.box .bottom div{background-position:right -162px;padding-right:6px;}
.box .top div div, .box .bottom div div{height:5px;background:#DFDFD6;padding:0;}
.box .top div div{border-top:#999 1px solid;}
.box .bottom div div{border-bottom:#999 1px solid;}
.box .content{border-left:#999 1px solid;border-right:#999 1px solid;background:#DEDFD6;padding:0 5px;min-height:5px;}
.box1 .top{background-position:left 0px;}
.box1 .bottom{background-position:left -6px;}
.box1 .top div{background-position:right -12px;}
.box1 .bottom div{background-position:right -18px;}
.box1 .top div div, .box1 .bottom div div{background:#fff;}
.box1 .content{background:#fff;}
.popup{position:absolute;width:305px;overflow:visible;margin:0;}
.popup .top{cursor:move;}
.popup .close{cursor:pointer;position:absolute;right:-6px;top:-6px;background:url(../Images/btn-close.gif) no-repeat;z-index:10;width:16px;height:16px;}
.popup .close_h{background:url(../Images/btn-close-hover.gif) no-repeat;}
.popup .content p{padding:5px;}
.leadBox{position:absolute;border:#999 1px solid;background:#fff2da;font-size:small;padding:5px;width:350px;}
#jquery-overlay{position:absolute;top:0;left:0;z-index:90;width:100%;height:500px;}
#jquery-lightbox{position:absolute;top:0;left:0;width:100%;z-index:100;text-align:center;line-height:0;}
#jquery-lightbox a img{border:none;}
#lightbox-container-image-box{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;}
#lightbox-container-image{padding:10px;}
#lightbox-loading{position:absolute;top:40%;left:0%;height:25%;width:100%;text-align:center;line-height:0;}
#lightbox-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10;}
#lightbox-container-image-box > #lightbox-nav{left:0;}
#lightbox-nav a{outline:none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext{width:49%;height:100%;zoom:1;display:block;}
#lightbox-nav-btnPrev{left:0;float:left;}
#lightbox-nav-btnNext{right:0;float:right;}
#lightbox-container-image-data-box{font:10px Verdana, Helvetica, sans-serif;background-color:#fff;margin:0 auto;line-height:1.4em;overflow:auto;width:100%;padding:0 10px 0;}
#lightbox-container-image-data{padding:0 10px;color:#666;}
#lightbox-container-image-data #lightbox-image-details{width:70%;float:left;text-align:left;}
#lightbox-image-details-caption{font-weight:bold;}
#lightbox-image-details-currentNumber{display:block;clear:left;padding-bottom:1.0em;}
#lightbox-secNav-btnClose{width:66px;float:right;padding-bottom:0.7em;}

/* Style min*/
/* LamLN Added */
.pd10{padding:10px;}
.pd8{padding:8px;}
.pd5{padding:5px;}
.pdl10{padding-left:10px;}
.pdl8{padding-left:8px;}
.pdl5{padding-left:5px;}
.pdr10{padding-right:10px;}
.pdr8{padding-right:8px;}
.pdr5{padding-right:5px;}
.row, .pdt10{padding-top:10px;}
.pdt8{padding-top:8px;}
.pdtb5{padding:5px 0px;}
.pdtb10{padding:10px 0px;}
.pdtb20{padding:20px 0px;}
.pdt5{padding-top:5px;}
.pdt4{padding-top:4px;}
.pdt3{padding-top:3px;}
.pdt2{padding-top:2px;}
.pdt1{padding-top:1px;}
.pdb10{padding-bottom:10px;}
.pdb8{padding-bottom:8px;}
.pdb5{padding-bottom:5px;}
.pdlr4{padding:0px 4px;}
.pdlr5{padding:0px 5px;}
.pdlr8{padding:0px 8px;}
.pdlr10{padding:0px 10px;}
.pdl50{padding-left:80px;}
.fl_l{float:left;}
.fl_r{float:right;}
.text_u{text-transform:uppercase;}
.bold{font-weight:bold;}
.text11{font-size:11px;}
.he10{height:10px;overflow:hidden;}
.he5{height:5px;overflow:hidden;}
.mrt5{margin-top:4px;}
.bortop{border-top:1px solid #e5e5e5;}
.red52{color:#570102;}
.right{text-align:right;}
.left{text-align:left;}
.center{text-align:center;}
.justify{text-align:justify;}
.cl_f3{background-color:#F3F3F3;}

/* AnhDT Added */
.label{display:block;float:left;}
.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}
.w15{width:15px;}
.w40{width:40px;}
.w50{width:50px;}
.w65{width:65px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w135{width:135px;}
.w150{width:150px;}
.w200{width:200px;}
.w240{width:240px;}
.w270{width:270px;}
.w290{width:290px;}
.w300{width:300px;}
.w340{width:340px;}
.h29{height:29px;}
.mh100{min-height:100px;}
.red{color:#ff0000;}
.red1{color:#cc0000;}
.green{color:#10C731;}
.blue{color:#4269E7;}
.blue1{color:#427AAB}
.blue2{color:#CCE0F1}
.blue3{color:#0162BB}
.blue4{color:blue}
.gray{color:#999;}
.none{display:none;}
.block{display:block;}
.clear{clear:both;}
.fleft{float:left;}
.fright{float:right;}
.fnone{float:none;}
.bold{font-weight:bold;}
.bold0{font-weight:normal;}
.small{font-size:x-small;}
.nowrap{white-space:nowrap;}
.pd05{padding:5px;}
.pr05{padding-right:5px;}
.pl05{padding-left:5px;}
.pl10{padding-left:10px;}
.pb05{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.b0{border:0;}
.bg1{background-color:#f3f4ef;}
.cpointer{cursor:pointer;}
ul{list-style:none;padding:0px;}
table.center{margin:0 auto;}
.mess{color:red;}
/* End min style*/
