<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net debug="false" >
		<root>
			<level value="ERROR" />
			<appender-ref ref="ErrorAppender" />
		</root>
		<logger name="VietNamNet.Framework.Tracking.Comment">
			<level value="INFO"/>
			<appender-ref ref="CommentAppender" />
		</logger>
		<logger name="VietNamNet.Framework.Tracking.Survey">
			<level value="INFO"/>
			<appender-ref ref="SurveyAppender" />
		</logger>
		<logger name="VietNamNet.Framework.Tracking.Article">
			<level value="INFO"/>
			<appender-ref ref="ArticleAppender" />
		</logger>
		<!-- Begin Network Tools Log configuration -->
		<logger name="VietNamNet.AddOn.Tracker.NetworkTools.SpeedTracker">
			<level value="INFO"/>
			<appender-ref ref="SpeedTestAppender" />
		</logger>
		<logger name="VietNamNet.AddOn.Tracker.NetworkTools.PingTracker">
			<level value="INFO"/>
			<appender-ref ref="PingAppender" />
		</logger>
		<logger name="VietNamNet.AddOn.Tracker.NetworkTools.TracertTracker">
			<level value="INFO"/>
			<appender-ref ref="TracertAppender" />
		</logger>
		<!-- End Network Tools Log configuration -->
		
		<appender name="ArticleAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\Article\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'ArticleLog'yyyyMMdd-HH'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<appender name="SurveyAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\Survey\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'SurveyLog'yyyyMMdd-HH'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		<appender name="CommentAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\Comment\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'CommentLog'yyyyMMdd-HH'.txt'" />
			<staticLogFileName value="false" />
			<encoding value="utf-8" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\error\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'ErrorLog'yyyyMMdd-HH'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>

		
		<appender name="SpeedTestAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\NetworkTools\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'SpeedTestLog'yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>


		<!-- Begin Network Tools Appender configuration -->
		<appender name="PingAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\NetworkTools\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'PingLog'yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		<appender name="PingAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\NetworkTools\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'PingLog'yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		<appender name="TracertAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tracker\log4net\NetworkTools\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="30" />
			<datePattern value="'TracertLog'yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		<!-- End Network Tools Appender configuration -->
	</log4net>
</configuration>