<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="TrackingConfiguration" type="VietNamNet.Framework.Tracking.TrackingConfigurationSectionHandler, VietNamNet.Framework.Tracking" allowLocation="true" allowDefinition="Everywhere" />
		<section name="AJAXConfiguration" type="VietNamNet.Framework.AJAX.AJAXConfigurationSectionHandler, VietNamNet.Framework.AJAX" allowLocation="true" allowDefinition="Everywhere" />

	</configSections>

	<connectionStrings/>

	<system.web>
		<pages>
			<controls>
			</controls>
		</pages>
		<sessionState timeout="30"></sessionState>
		<compilation debug="false">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="Off" defaultRedirect="error.htm">
			<error statusCode="403" redirect="Error.aspx?msg=NoAccess"/>
			<error statusCode="404" redirect="Error.aspx?msg=FileNotFound"/>
		</customErrors>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
		</httpHandlers>
		<httpModules>
		</httpModules>
		<httpRuntime maxRequestLength="20480"/>
	</system.web>


	<!--AJAX Service Configuration-->
	<location path="ajax">
		<system.web>
			<httpHandlers>
				<add path="*.html" verb="*" type="VietNamNet.Framework.AJAX.AJAXHandler"/>
			</httpHandlers>
		</system.web>
	</location>
	<!--AJAX Service Configuration-->
	<AJAXConfiguration Type="VietNamNet.Framework.AJAX.AJAXConfiguration" Assembly="VietNamNet.Framework.AJAX">
		<AJAXService Name="ping"	 Type="VietNamNet.AddOn.Tracker.NetworkTools.AJAX.PingService"		Assembly="VietNamNet.AddOn.Tracker" />
		<AJAXService Name="tracert" Type="VietNamNet.AddOn.Tracker.NetworkTools.AJAX.TracertService"	Assembly="VietNamNet.AddOn.Tracker" />
	</AJAXConfiguration>
	<!--END AJAX Service Configuration-->

	<!-- Tracking Configuration-->
	<location path="tracking">
		<system.web>
			<httpHandlers>
				<add path="t.srv" verb="*" type="VietNamNet.Framework.Tracking.TrackingHandler"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--Tracking Service Configuration-->
	<TrackingConfiguration Type="VietNamNet.Framework.Tracking.TrackingConfiguration" Assembly="VietNamNet.Framework.Tracking">
		<TrackingService Name="article" Type="VietNamNet.AddOn.Tracker.ArticleTracker" Assembly="VietNamNet.AddOn.Tracker" />
		<TrackingService Name="vrating" Type="VietNamNet.AddOn.Tracker.VideoRating" Assembly="VietNamNet.AddOn.Tracker" />
		<TrackingService Name="comment" Type="VietNamNet.AddOn.Tracker.CommentTracker" Assembly="VietNamNet.AddOn.Tracker" />
		<TrackingService Name="survey"  Type="VietNamNet.AddOn.Tracker.SurveyTracker" Assembly="VietNamNet.AddOn.Tracker" />
		<!--Network Tools Configuration-->
		<TrackingService Name="speedtest" Type="VietNamNet.AddOn.Tracker.NetworkTools.SpeedTracker" Assembly="VietNamNet.AddOn.Tracker" />
		<TrackingService Name="ping" Type="VietNamNet.AddOn.Tracker.NetworkTools.PingTracker" Assembly="VietNamNet.AddOn.Tracker" />
		<TrackingService Name="tracert" Type="VietNamNet.AddOn.Tracker.NetworkTools.TracertTracker" Assembly="VietNamNet.AddOn.Tracker" />
	</TrackingConfiguration>
	<!--END Tracking Service Configuration-->

	<appSettings file="Message.config">
		<!-- AppSetting -->
		<add key="AllowServices" value="all"/>
		<add key="TrackingFolder" value="Tracking"/>
	</appSettings>

</configuration>