<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net debug="false" >
		<!--<root>
			<level value="ERROR" />
			<appender-ref ref="ErrorAppender" />
		</root>-->
		<logger name="WebsitesManager">
			<level value="INFO"/>
			<appender-ref ref="WebsitesAppender" />
		</logger>
		<logger name="AdvertisementManager">
			<level value="INFO"/>
			<appender-ref ref="AdvertisementAppender" />
		</logger>
		<logger name="SurveyManager">
			<level value="INFO"/>
			<appender-ref ref="SurveyAppender" />
		</logger>

		<appender name="WebsitesAppender" type="log4net.Appender.RollingFileAppender">
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="4MB" />
			<staticLogFileName value="false" />
			<file value="tracker\WebsitesManager\"  />
			<datePattern value="yyyy'\\'MM'\\'dd'\\Websites_'HH'.log'" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		<appender name="AdvertisementAppender" type="log4net.Appender.RollingFileAppender">
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="4MB" />
			<staticLogFileName value="false" />
			<file value="tracker\AdvManager\"  />
			<datePattern value="yyyy'\\'MM'\\'dd'\\Adv_'HH'.log'" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		<appender name="SurveyAppender" type="log4net.Appender.RollingFileAppender">
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="4MB" />
			<staticLogFileName value="false" />
			<file value="tracker\SurrveyManager\"  />
			<datePattern value="yyyy'\\'MM'\\'dd'\\Surrvey_'HH'.log'" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		
		
 		<!--<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="4MB" />
			<staticLogFileName value="false" />
			<file value="tracker\Error\"  />
			<datePattern value="yyyy'\\'MM'\\'dd'\\Error_'yyyyMMdd-HH'.log'" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>-->
 
	</log4net>
</configuration>