<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission ="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
		<section name="BizConfiguration" type="VietNamNet.Framework.Biz.ConfigSerializerSectionHandler, VietNamNet.Framework.Biz" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="AJAXConfiguration" type="VietNamNet.Framework.AJAX.AJAXConfigurationSectionHandler, VietNamNet.Framework.AJAX" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>

	<connectionStrings/>

	<system.web>
		<sessionState timeout="30"></sessionState>
		<compilation debug="false">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
			<error statusCode="403" redirect="Error.aspx?msg=NoAccess"/>
			<error statusCode="404" redirect="Error.aspx?msg=FileNotFound"/>
		</customErrors>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
		</httpHandlers>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
		</httpModules>
		<httpRuntime maxRequestLength="20480"/>
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="SystemCache" enabled="true" duration="240" varyByParam="None" varyByControl="None" />
					<add name="HomepageCache" enabled="true" duration="240" varyByParam="None" varyByControl="None" />
					<add name="CategoryCache" enabled="true" duration="240" varyByParam="*" varyByControl="None" />
					<add name="ArticleCache" enabled="true" duration="480" varyByParam="*" varyByControl="None" />
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
	</system.web>

	<!-- View thumbnail -->
	<location path="thumb">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="VietNamNet.Framework.Common.ViewThumbnail"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--UrlRewirting Configuration-->
	<urlrewritingnet
		rewriteOnlyVirtualUrls="true"
		contextItemsPrefix="QueryString"
		defaultPage = "/Default.aspx"
		defaultProvider="RegEx"
		xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
		<rewrites>
			<add name="CategoryTinMoiNhat" virtualUrl="^~/vn/tin-moi-nhat/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinmoinhat/Category.aspx" ignoreCase="true"/>
			<add name="CategoryTinMoiNhatPage" virtualUrl="^~/vn/tin-moi-nhat/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinmoinhat/Category.aspx?Page=$1" ignoreCase="true"/>
			<add name="CategoryTinMoiNhatSubCate1" virtualUrl="^~/vn/tin-moi-nhat/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinmoinhat/Category.aspx?CateAlias=tin-moi-nhat-$1" ignoreCase="true"/>
			<add name="CategoryTinMoiNhatSubCate1Page" virtualUrl="^~/vn/tin-moi-nhat/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinmoinhat/Category.aspx?CateAlias=tin-moi-nhat-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryTinMoiNhatSubCate2" virtualUrl="^~/vn/tin-moi-nhat/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinmoinhat/Category.aspx?CateAlias=tin-moi-nhat-$1-$2" ignoreCase="true"/>
			<add name="CategoryTinMoiNhatSubCate2Page" virtualUrl="^~/vn/tin-moi-nhat/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinmoinhat/Category.aspx?CateAlias=tin-moi-nhat-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailTinMoiNhat" virtualUrl="^~/vn/tin-moi-nhat/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinmoinhat/Detail.aspx?DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailTinMoiNhatSubCate1" virtualUrl="^~/vn/tin-moi-nhat/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinmoinhat/Detail.aspx?CateAlias=tin-moi-nhat-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailTinMoiNhatSubCate2" virtualUrl="^~/vn/tin-moi-nhat/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinmoinhat/Detail.aspx?CateAlias=tin-moi-nhat-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="CategoryTinMoiNong" virtualUrl="^~/vn/moi-nong/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=moi-nong" ignoreCase="true"/>
			<add name="CategoryTinMoiNongPage" virtualUrl="^~/vn/moi-nong/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=moi-nong&amp;Page=$1" ignoreCase="true"/>
			<add name="CategoryTinMoiNongSubCate1" virtualUrl="^~/vn/moi-nong/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=moi-nong-$1" ignoreCase="true"/>
			<add name="CategoryTinMoiNongSubCate1Page" virtualUrl="^~/vn/moi-nong/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=moi-nong-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryTinMoiNongSubCate2" virtualUrl="^~/vn/moi-nong/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=moi-nong-$1-$2" ignoreCase="true"/>
			<add name="CategoryTinMoiNongSubCate2Page" virtualUrl="^~/vn/moi-nong/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=moi-nong-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailTinMoiNong" virtualUrl="^~/vn/moi-nong/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Detail.aspx?CateAlias=moi-nong&amp;DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailTinMoiNongSubCate1" virtualUrl="^~/vn/moi-nong/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Detail.aspx?CateAlias=moi-nong-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailTinMoiNongSubCate2" virtualUrl="^~/vn/moi-nong/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Detail.aspx?CateAlias=moi-nong-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="CategoryTinNoiBat" virtualUrl="^~/vn/tin-noi-bat/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=tin-noi-bat" ignoreCase="true"/>
			<add name="CategoryTinNoiBatPage" virtualUrl="^~/vn/tin-noi-bat/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=tin-noi-bat&amp;Page=$1" ignoreCase="true"/>
			<add name="CategoryTinNoiBatSubCate1" virtualUrl="^~/vn/tin-noi-bat/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=tin-noi-bat-$1" ignoreCase="true"/>
			<add name="CategoryTinNoiBatSubCate1Page" virtualUrl="^~/vn/tin-noi-bat/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=tin-noi-bat-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryTinNoiBatSubCate2" virtualUrl="^~/vn/tin-noi-bat/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=tin-noi-bat-$1-$2" ignoreCase="true"/>
			<add name="CategoryTinNoiBatSubCate2Page" virtualUrl="^~/vn/tin-noi-bat/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Category.aspx?CateAlias=tin-noi-bat-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailTinNoiBat" virtualUrl="^~/vn/tin-noi-bat/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Detail.aspx?CateAlias=tin-noi-bat&amp;DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailTinNoiBatSubCate1" virtualUrl="^~/vn/tin-noi-bat/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Detail.aspx?CateAlias=tin-noi-bat-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailTinNoiBatSubCate2" virtualUrl="^~/vn/tin-noi-bat/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/tinnoibat/Detail.aspx?CateAlias=tin-noi-bat-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="CategoryXaHoi" virtualUrl="^~/vn/xa-hoi/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=xa-hoi" ignoreCase="true"/>
			<add name="CategoryXaHoiPage" virtualUrl="^~/vn/xa-hoi/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=xa-hoi&amp;Page=$1" ignoreCase="true"/>
			<add name="CategoryXaHoiSubCate1" virtualUrl="^~/vn/xa-hoi/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=xa-hoi-$1" ignoreCase="true"/>
			<add name="CategoryXaHoiSubCate1Page" virtualUrl="^~/vn/xa-hoi/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=xa-hoi-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryXaHoiSubCate2" virtualUrl="^~/vn/xa-hoi/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=xa-hoi-$1-$2" ignoreCase="true"/>
			<add name="CategoryXaHoiSubCate2Page" virtualUrl="^~/vn/xa-hoi/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=xa-hoi-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailXaHoi" virtualUrl="^~/vn/xa-hoi/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Detail.aspx?CateAlias=xa-hoi&amp;DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailXaHoiSubCate1" virtualUrl="^~/vn/xa-hoi/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Detail.aspx?CateAlias=xa-hoi-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailXaHoiSubCate2" virtualUrl="^~/vn/xa-hoi/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Detail.aspx?CateAlias=xa-hoi-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="CategoryGiaoDuc" virtualUrl="^~/vn/giao-duc/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/giaoduc/Category.aspx?CateAlias=giao-duc" ignoreCase="true"/>
			<add name="CategoryGiaoDucPage" virtualUrl="^~/vn/giao-duc/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/giaoduc/Category.aspx?CateAlias=giao-duc&amp;Page=$1" ignoreCase="true"/>
			<add name="CategoryGiaoDucSubCate1" virtualUrl="^~/vn/giao-duc/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/giaoduc/Category.aspx?CateAlias=giao-duc-$1" ignoreCase="true"/>
			<add name="CategoryGiaoDucSubCate1Page" virtualUrl="^~/vn/giao-duc/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/giaoduc/Category.aspx?CateAlias=giao-duc-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryGiaoDucSubCate2" virtualUrl="^~/vn/giao-duc/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/giaoduc/Category.aspx?CateAlias=giao-duc-$1-$2" ignoreCase="true"/>
			<add name="CategoryGiaoDucSubCate2Page" virtualUrl="^~/vn/giao-duc/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/giaoduc/Category.aspx?CateAlias=giao-duc-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailGiaoDuc" virtualUrl="^~/vn/giao-duc/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/giaoduc/Detail.aspx?CateAlias=giao-duc&amp;DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailGiaoDucSubCate1" virtualUrl="^~/vn/giao-duc/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/giaoduc/Detail.aspx?CateAlias=giao-duc-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailGiaoDucSubCate2" virtualUrl="^~/vn/giao-duc/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/giaoduc/Detail.aspx?CateAlias=giao-duc-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="CategoryPsdt" virtualUrl="^~/vn/phong-su-dieu-tra/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/psdt/Category.aspx?CateAlias=phong-su-dieu-tra" ignoreCase="true"/>
			<add name="CategoryPsdtPage" virtualUrl="^~/vn/phong-su-dieu-tra/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/psdt/Category.aspx?CateAlias=phong-su-dieu-tra&amp;Page=$1" ignoreCase="true"/>
			<add name="CategoryPsdtSubCate1" virtualUrl="^~/vn/phong-su-dieu-tra/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/psdt/Category.aspx?CateAlias=phong-su-dieu-tra-$1" ignoreCase="true"/>
			<add name="CategoryPsdtSubCate1Page" virtualUrl="^~/vn/phong-su-dieu-tra/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/psdt/Category.aspx?CateAlias=phong-su-dieu-tra-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryPsdtSubCate2" virtualUrl="^~/vn/phong-su-dieu-tra/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/psdt/Category.aspx?CateAlias=phong-su-dieu-tra-$1-$2" ignoreCase="true"/>
			<add name="CategoryPsdtSubCate2Page" virtualUrl="^~/vn/phong-su-dieu-tra/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/psdt/Category.aspx?CateAlias=phong-su-dieu-tra-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailPsdt" virtualUrl="^~/vn/phong-su-dieu-tra/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/psdt/Detail.aspx?CateAlias=phong-su-dieu-tra&amp;DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailPsdtSubCate1" virtualUrl="^~/vn/phong-su-dieu-tra/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/psdt/Detail.aspx?CateAlias=phong-su-dieu-tra-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailPsdtSubCate2" virtualUrl="^~/vn/phong-su-dieu-tra/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/psdt/Detail.aspx?CateAlias=phong-su-dieu-tra-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="CategoryQuocte" virtualUrl="^~/vn/quoc-te/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/quocte/Category.aspx?CateAlias=quoc-te" ignoreCase="true"/>
			<add name="CategoryQuoctePage" virtualUrl="^~/vn/quoc-te/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/quocte/Category.aspx?CateAlias=quoc-te&amp;Page=$1" ignoreCase="true"/>
			<add name="CategoryQuocteSubCate1" virtualUrl="^~/vn/quoc-te/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/quocte/Category.aspx?CateAlias=quoc-te-$1" ignoreCase="true"/>
			<add name="CategoryQuocteSubCate1Page" virtualUrl="^~/vn/quoc-te/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/quocte/Category.aspx?CateAlias=quoc-te-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryQuocteSubCate2" virtualUrl="^~/vn/quoc-te/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/quocte/Category.aspx?CateAlias=quoc-te-$1-$2" ignoreCase="true"/>
			<add name="CategoryQuocteSubCate2Page" virtualUrl="^~/vn/quoc-te/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/quocte/Category.aspx?CateAlias=quoc-te-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailQuocte" virtualUrl="^~/vn/quoc-te/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/quocte/Detail.aspx?CateAlias=quoc-te&amp;DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailQuocteSubCate1" virtualUrl="^~/vn/quoc-te/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/quocte/Detail.aspx?CateAlias=quoc-te-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailQuocteSubCate2" virtualUrl="^~/vn/quoc-te/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/quocte/Detail.aspx?CateAlias=quoc-te-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="CategoryVanhoa" virtualUrl="^~/vn/van-hoa/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Vanhoa/Category.aspx?CateAlias=van-hoa" ignoreCase="true"/>
			<add name="CategoryVanhoaPage" virtualUrl="^~/vn/van-hoa/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Vanhoa/Category.aspx?CateAlias=van-hoa&amp;Page=$1" ignoreCase="true"/>
			<add name="CategoryVanhoaSubCate1" virtualUrl="^~/vn/van-hoa/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Vanhoa/Category.aspx?CateAlias=van-hoa-$1" ignoreCase="true"/>
			<add name="CategoryVanhoaSubCate1Page" virtualUrl="^~/vn/van-hoa/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Vanhoa/Category.aspx?CateAlias=van-hoa-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryVanhoaSubCate2" virtualUrl="^~/vn/van-hoa/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Vanhoa/Category.aspx?CateAlias=van-hoa-$1-$2" ignoreCase="true"/>
			<add name="CategoryVanhoaSubCate2Page" virtualUrl="^~/vn/van-hoa/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Vanhoa/Category.aspx?CateAlias=van-hoa-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailVanhoa" virtualUrl="^~/vn/van-hoa/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Vanhoa/Detail.aspx?DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailVanhoaSubCate1" virtualUrl="^~/vn/van-hoa/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Vanhoa/Detail.aspx?CateAlias=van-hoa-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailVanhoaSubCate2" virtualUrl="^~/vn/van-hoa/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Vanhoa/Detail.aspx?CateAlias=van-hoa-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="CategoryKhoahoc" virtualUrl="^~/vn/khoa-hoc/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Khoahoc/Category.aspx?CateAlias=khoa-hoc" ignoreCase="true"/>
			<add name="CategoryKhoahocPage" virtualUrl="^~/vn/khoa-hoc/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Khoahoc/Category.aspx?CateAlias=khoa-hoc&amp;Page=$1" ignoreCase="true"/>
			<add name="CategoryKhoahocSubCate1" virtualUrl="^~/vn/khoa-hoc/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Khoahoc/Category.aspx?CateAlias=khoa-hoc-$1" ignoreCase="true"/>
			<add name="CategoryKhoahocSubCate1Page" virtualUrl="^~/vn/khoa-hoc/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Khoahoc/Category.aspx?CateAlias=khoa-hoc-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryKhoahocSubCate2" virtualUrl="^~/vn/khoa-hoc/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Khoahoc/Category.aspx?CateAlias=khoa-hoc-$1-$2" ignoreCase="true"/>
			<add name="CategoryKhoahocSubCate2Page" virtualUrl="^~/vn/khoa-hoc/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Khoahoc/Category.aspx?CateAlias=khoa-hoc-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailKhoahoc" virtualUrl="^~/vn/khoa-hoc/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Khoahoc/Detail.aspx?CateAlias=khoa-hoc&amp;DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailKhoahocSubCate1" virtualUrl="^~/vn/khoa-hoc/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Khoahoc/Detail.aspx?CateAlias=khoa-hoc-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailKhoahocSubCate2" virtualUrl="^~/vn/khoa-hoc/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/Khoahoc/Detail.aspx?CateAlias=khoa-hoc-$1-$2&amp;DocId=$3" ignoreCase="true"/>
      
			<add name="Category3GHot" virtualUrl="^~/vn/video-3g-hot/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx?CateAlias=video-3g-hot" ignoreCase="true"/>
			<add name="Category3GHotPage" virtualUrl="^~/vn/video-3g-hot/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx?CateAlias=video-3g-hot&amp;Page=$1" ignoreCase="true"/>
			<add name="Category3GHotSubCate1" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx?CateAlias=video-3g-hot-$1" ignoreCase="true"/>
			<add name="Category3GHotSubCate1Page" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx?CateAlias=video-3g-hot-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="Category3GHotSubCate2" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx?CateAlias=video-3g-hot-$1-$2" ignoreCase="true"/>
			<add name="Category3GHotSubCate2Page" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Category.aspx?CateAlias=video-3g-hot-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetail3GHot" virtualUrl="^~/vn/video-3g-hot/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Detail.aspx?CateAlias=video-3g-hot&amp;DocId=$1" ignoreCase="true"/>
			<add name="NewsDetail3GHotSubCate1" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Detail.aspx?CateAlias=video-3g-hot-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetail3GHotSubCate2" virtualUrl="^~/vn/video-3g-hot/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/3g/Detail.aspx?CateAlias=video-3g-hot-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="CategoryChinhTri" virtualUrl="^~/vn/chinh-tri/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Category.aspx?CateAlias=chinh-tri" ignoreCase="true"/>
			<add name="CategoryChinhTriPage" virtualUrl="^~/vn/chinh-tri/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Category.aspx?CateAlias=chinh-tri&amp;Page=$1" ignoreCase="true"/>
			<add name="CategoryChinhTriSubCate1" virtualUrl="^~/vn/chinh-tri/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Category.aspx?CateAlias=chinh-tri-$1" ignoreCase="true"/>
			<add name="CategoryChinhTriSubCate1Page" virtualUrl="^~/vn/chinh-tri/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Category.aspx?CateAlias=chinh-tri-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryChinhTriSubCate2" virtualUrl="^~/vn/chinh-tri/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Category.aspx?CateAlias=chinh-tri-$1-$2" ignoreCase="true"/>
			<add name="CategoryChinhTriSubCate2Page" virtualUrl="^~/vn/chinh-tri/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/xahoi/Category.aspx?CateAlias=chinh-tri-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailChinhTri" virtualUrl="^~/vn/chinh-tri/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Detail.aspx?CateAlias=chinh-tri&amp;DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailChinhTriSubCate1" virtualUrl="^~/vn/chinh-tri/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Detail.aspx?CateAlias=chinh-tri-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailChinhTriSubCate2" virtualUrl="^~/vn/chinh-tri/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/chinhtri/Detail.aspx?CateAlias=chinh-tri-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="CategoryBanDoc" virtualUrl="^~/vn/ban-doc-phap-luat/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/bandoc/Category.aspx?CateAlias=ban-doc-phap-luat" ignoreCase="true"/>
			<add name="CategoryBanDocPage" virtualUrl="^~/vn/ban-doc-phap-luat/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/bandoc/Category.aspx?CateAlias=ban-doc-phap-luat&amp;Page=$1" ignoreCase="true"/>
			<add name="CategoryBanDocSubCate1" virtualUrl="^~/vn/ban-doc-phap-luat/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/bandoc/Category.aspx?CateAlias=ban-doc-phap-luat-$1" ignoreCase="true"/>
			<add name="CategoryBanDocSubCate1Page" virtualUrl="^~/vn/ban-doc-phap-luat/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/bandoc/Category.aspx?CateAlias=ban-doc-phap-luat-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryBanDocSubCate2" virtualUrl="^~/vn/ban-doc-phap-luat/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/bandoc/Category.aspx?CateAlias=ban-doc-phap-luat-$1-$2" ignoreCase="true"/>
			<add name="CategoryBanDocSubCate2Page" virtualUrl="^~/vn/ban-doc-phap-luat/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/bandoc/Category.aspx?CateAlias=ban-doc-phap-luat-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailBanDoc" virtualUrl="^~/vn/ban-doc-phap-luat/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/bandoc/Detail.aspx?CateAlias=ban-doc-phap-luat&amp;DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailBanDocSubCate1" virtualUrl="^~/vn/ban-doc-phap-luat/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/bandoc/Detail.aspx?CateAlias=ban-doc-phap-luat-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailBanDocSubCate2" virtualUrl="^~/vn/ban-doc-phap-luat/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/bandoc/Detail.aspx?CateAlias=ban-doc-phap-luat-$1-$2&amp;DocId=$3" ignoreCase="true"/>

			<add name="CategoryCntt" virtualUrl="^~/vn/cong-nghe-thong-tin-vien-thong/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/cntt/Category.aspx?CateAlias=cong-nghe-thong-tin-vien-thong" ignoreCase="true"/>
			<add name="CategoryCnttPage" virtualUrl="^~/vn/cong-nghe-thong-tin-vien-thong/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/cntt/Category.aspx?CateAlias=cong-nghe-thong-tin-vien-thong&amp;Page=$1" ignoreCase="true"/>
			<add name="CategoryCnttSubCate1" virtualUrl="^~/vn/cong-nghe-thong-tin-vien-thong/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/cntt/Category.aspx?CateAlias=cong-nghe-thong-tin-vien-thong-$1" ignoreCase="true"/>
			<add name="CategoryCnttSubCate1Page" virtualUrl="^~/vn/cong-nghe-thong-tin-vien-thong/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/cntt/Category.aspx?CateAlias=cong-nghe-thong-tin-vien-thong-$1&amp;Page=$2" ignoreCase="true"/>
			<add name="CategoryCnttSubCate2" virtualUrl="^~/vn/cong-nghe-thong-tin-vien-thong/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/cntt/Category.aspx?CateAlias=cong-nghe-thong-tin-vien-thong-$1-$2" ignoreCase="true"/>
			<add name="CategoryCnttSubCate2Page" virtualUrl="^~/vn/cong-nghe-thong-tin-vien-thong/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/cntt/Category.aspx?CateAlias=cong-nghe-thong-tin-vien-thong-$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="NewsDetailCntt" virtualUrl="^~/vn/cong-nghe-thong-tin-vien-thong/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/cntt/Detail.aspx?CateAlias=cong-nghe-thong-tin-vien-thong&amp;DocId=$1" ignoreCase="true"/>
			<add name="NewsDetailCnttSubCate1" virtualUrl="^~/vn/cong-nghe-thong-tin-vien-thong/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/cntt/Detail.aspx?CateAlias=cong-nghe-thong-tin-vien-thong-$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="NewsDetailCnttSubCate2" virtualUrl="^~/vn/cong-nghe-thong-tin-vien-thong/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/cntt/Detail.aspx?CateAlias=cong-nghe-thong-tin-vien-thong-$1-$2&amp;DocId=$3" ignoreCase="true"/>

      <add name="CategoryKinhte" virtualUrl="^~/vn/kinh-te/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/thitruong/Category.aspx?CateAlias=kinh-te" ignoreCase="true"/>
      <add name="CategoryKinhtePage" virtualUrl="^~/vn/kinh-te/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/thitruong/Category.aspx?CateAlias=kinh-te&amp;Page=$1" ignoreCase="true"/>
      <add name="CategoryKinhteSubCate1" virtualUrl="^~/vn/kinh-te/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/thitruong/Category.aspx?CateAlias=kinh-te-$1" ignoreCase="true"/>
      <add name="CategoryKinhteSubCate1Page" virtualUrl="^~/vn/kinh-te/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/thitruong/Category.aspx?CateAlias=kinh-te-$1&amp;Page=$2" ignoreCase="true"/>
      <add name="CategoryKinhteSubCate2" virtualUrl="^~/vn/kinh-te/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/thitruong/Category.aspx?CateAlias=kinh-te-$1-$2" ignoreCase="true"/>
      <add name="CategoryKinhteSubCate2Page" virtualUrl="^~/vn/kinh-te/([-\w]+)/([-\w]+)/trang(\d+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/thitruong/Category.aspx?CateAlias=kinh-te-$1-$2&amp;Page=$3" ignoreCase="true"/>
      <add name="NewsDetailKinhte" virtualUrl="^~/vn/kinh-te/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/thitruong/Detail.aspx?CateAlias=kinh-te&amp;DocId=$1" ignoreCase="true"/>
      <add name="NewsDetailKinhteSubCate1" virtualUrl="^~/vn/kinh-te/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/thitruong/Detail.aspx?CateAlias=kinh-te-$1&amp;DocId=$2" ignoreCase="true"/>
      <add name="NewsDetailKinhteSubCate2" virtualUrl="^~/vn/kinh-te/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ui/thitruong/Detail.aspx?CateAlias=kinh-te-$1-$2&amp;DocId=$3" ignoreCase="true"/>
      
			<add name="Error" virtualUrl="^~/vn/error/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx" ignoreCase="true"/>
			<add name="ErrorMsg" virtualUrl="^~/vn/error/(.*)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx?Msg=$1" ignoreCase="true"/>
			<add name="Homepage" virtualUrl="^~/vn/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true"/>
			<add name="RSS" virtualUrl="^~/vn/rss/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/RSS.aspx" ignoreCase="true"/>
			<add name="Introduction" virtualUrl="^~/vn/gioi-thieu/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Introduction.aspx" ignoreCase="true"/>
			<add name="Prize" virtualUrl="^~/vn/giai-thuong/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/GiaiThuong.aspx" ignoreCase="true"/>
			<add name="Contact" virtualUrl="^~/vn/lien-he/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/LienHe.aspx" ignoreCase="true"/>

			<add name="Print" virtualUrl="^~/vn/print/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="Print1" virtualUrl="^~/vn/print/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1-$2&amp;DocId=$3" ignoreCase="true"/>
			<add name="Print2" virtualUrl="^~/vn/print/([-\w]+)/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetailPrint.aspx?CateAlias=$1-$2-$3&amp;DocId=$4" ignoreCase="true"/>

			<add name="Search" virtualUrl="^~/vn/tim-kiem/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Search.aspx" ignoreCase="true"/>
			<add name="SearchK" virtualUrl="^~/vn/tim-kiem/([\s\w\d-+]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Search.aspx?keyword=$1" ignoreCase="true"/>

			<add name="CategoryPage" virtualUrl="^~/vn/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1&amp;Page=$2" ignoreCase="true"/>
			<add name="NewsDetail" virtualUrl="^~/vn/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1&amp;DocId=$2" ignoreCase="true"/>
			<add name="Category" virtualUrl="^~/vn/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1" ignoreCase="true"/>

			<add name="SubCategoryPage" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2&amp;Page=$3" ignoreCase="true"/>
			<add name="SubNewsDetail" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1-$2&amp;DocId=$3" ignoreCase="true"/>
			<add name="SubCategory" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2" ignoreCase="true"/>

			<add name="Sub2CategoryPage" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/([-\w]+)/trang(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2-$3&amp;Page=$4" ignoreCase="true"/>
			<add name="Sub2NewsDetail" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/([-\w]+)/(\d+)/([-\w]+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?CateAlias=$1-$2-$3&amp;DocId=$4" ignoreCase="true"/>
			<add name="Sub2Category" virtualUrl="^~/vn/([-\w]+)/([-\w]+)/([-\w]+)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Categories.aspx?CateAlias=$1-$2-$3" ignoreCase="true"/>

			<add name="FileNotFound" virtualUrl="^~/vn/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Error.aspx?Msg=FileNotFound" ignoreCase="true"/>
		</rewrites>
	</urlrewritingnet>
	<!--END UrlRewirting Configuration-->

	<!--RSS Configuration-->
	<location path="rss">
		<system.web>
			<httpHandlers>
				<add path="*.rss" verb="*" type="VietNamNet.Websites.Core.Common.RSSHandler"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--AJAX Service Configuration-->
	<location path="ajax">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="VietNamNet.Framework.AJAX.AJAXHandler"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--AJAX Service Configuration-->
	<AJAXConfiguration Type="VietNamNet.Framework.AJAX.AJAXConfiguration" Assembly="VietNamNet.Framework.AJAX">
		<AJAXService Name="getMedia" Type="VietNamNet.Websites.Core.AJAX.GetMedia" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="getTopMedia" Type="VietNamNet.Websites.Core.AJAX.GetTopMedia" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="getAdvertisement" Type="VietNamNet.Websites.Core.AJAX.GetAdvertisement" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="getComment" Type="VietNamNet.Websites.Core.AJAX.GetComment" Assembly="VietNamNet.Websites.Core" CacheTime="5" />
		<AJAXService Name="sendMail" Type="VietNamNet.Websites.Core.AJAX.SendEmail" Assembly="VietNamNet.Websites.Core" NoCache="true" />
		<!-- Survey Service Configuration -->
		<AJAXService Name="Survey" 	Type="VietNamNet.Survey.Core.AJAX.srvGetSurvey" Assembly="VietNamNet.Websites.Core" NoCache="true" />
	</AJAXConfiguration>
	<!--END AJAX Service Configuration-->

	<!--Biz Configuration-->
	<BizConfiguration ObjectType="VietNamNet.Framework.Biz.BizObject" Assembly="VietNamNet.Framework.Biz">
		<!-- Website Core -->
		<BizObject Name="SurveyManager" Type="VietNamNet.Websites.Core.BizLogic.SurveyManager" Assembly="VietNamNet.Websites.Core" />
		<BizObject Name="WebsitesManager" Type="VietNamNet.Websites.Core.BizLogic.WebsitesManager" Assembly="VietNamNet.Websites.Core" />
		<BizObject Name="AdvertisementManager" Type="VietNamNet.Websites.Core.BizLogic.AdvertisementManager" Assembly="VietNamNet.Websites.Core" />
		<!-- System -->
		<BizObject Name="ConfigurationManager" Type="VietNamNet.Framework.System.BizLogic.ConfigurationManager" Assembly="VietNamNet.Framework.System"/>
	</BizConfiguration>
	<!--END Biz Configuration-->

	<appSettings>
		<!-- AppSetting -->
		<add key="System.AddOn" value="Default,Classical,Standard"/>
		<add key="System.AddOn.File" value="~/Default.Master,~/Classical.Master,~/Standard.Master"/>
		<add key="SqlConnectionString" value="server=203.162.71.50;uid=vnn; pwd=vnn@vnn123#@!; database=VietNamNet; Connection Timeout=120"/>
		<add key="CultureInfo" value="en-AU"/>
		<add key="Security" value="ON"/>
		<add key="Captcha" value="ON"/>
		<add key="CaptchaKey" value="abanhdt12$%^bg"/>
		<add key="CaptchaSalt" value="dtuananh"/>
		<add key="LogLevel" value="2"/>
		<add key="TimeCaching" value="20"/>
		<add key="PageSize" value="15"/>
		<add key="CommentPageSize" value="5"/>
		<add key="PageViewSize" value="15"/>
		<add key="DisplayDateTimeFormat" value="dd/MM/yyyy hh:mm:ss tt"/>
		<add key="DisplayDateFormat" value="dd/MM/yyyy"/>
		<add key="DisplayNumberFormat" value="#,##0"/>
		<add key="DisplayDecimalFormat" value="#,##0.00"/>
		<add key="Currency" value="VNĐ"/>
		<add key="MinDate" value="01/01/1753"/>
		<add key="UserGroupID" value="1"/>
		<add key="AdminGroupID" value="1"/>
		<!-- Email-->
		<add key="SMTPMailServer" value="smtp.vietnamnet.vn"/>
		<add key="SMTPMailServerPort" value="25"/>
		<add key="SMTPMailServerSecure" value="NO"/>
		<add key="SystemEmail" value="support@vietnamnet.vn"/>
		<add key="SystemEmailAlias" value="Hỗ trợ VietNamNet"/>
		<add key="SystemEmailLoginname" value="support@vietnamnet.vn"/>
		<add key="SystemEmailPasword" value="support"/>
		<add key="POP3MailServer" value="mail.vietnamnet.vn"/>
		<add key="POP3MailServerPort" value="110"/>
		<add key="POP3MailServerSecure" value="NO"/>
		<!-- Media Manager-->
		<add key="UpLoadDirectory" value="Resources"/>
		<add key="PublicDirectory" value="Public"/>
		<add key="PublicImageDirectory" value="PublicImages"/>
		<add key="PublicAudioDirectory" value="PublicAudio"/>
		<add key="PublicVideoDirectory" value="PublicVideo"/>
		<add key="ThumbnailDirectory" value="_thumb"/>
		<add key="TempDirectory" value="Temp"/>
		<add key="CommonDirectory" value="Common"/>
		<add key="TemplateDirectory" value="Template"/>
		<add key="FileTypeAllow" value="*.jpg,*.jpeg,*.gif,*.png,*.mp3,*.mp4,*.mid,*.amr,*.wav,*.wma,*.flv,*.wmv,*.swf,*.txt,*.doc,*.docx,*.xls,*.xlsx,*.pdf,*.zip,*.rar"/>
		<add key="ImageFileType" value=".jpg,.jpeg,.gif,.png"/>
		<add key="AudioFileType" value=".mp3,.mid,.amr,.wav,.wma"/>
		<add key="VideoFileType" value=".mp4,.flv,.wmv"/>
		<add key="DeleteFromPhysical" value="YES"/>
		<add key="ThumbnailHeight" value="119"/>
		<add key="ThumbnailWidth" value="178"/>
		<add key="MaxUploadFileSize" value="5120"/>
		<add key="MaxUploadFileZipSize" value="20480"/>
		<add key="PublicServerLink" value=""/>
		<add key="ImageServerLink" value=""/>
		<add key="AudioServerLink" value=""/>
		<add key="VideoServerLink" value=""/>
		<!-- Copyright -->
		<add key="CopyrightName" value="VietNamNet"/>
		<add key="CopyrightLink" value="http://www.VietNamNet.vn/"/>
		<add key="PoweredName" value="VietNamNet"/>
		<add key="PoweredLink" value="http://www.VietNamNet.vn/"/>
		<!-- RSS config key -->
		<add key="WebsiteTitle" value="Vietnamnet - Báo điện tử Vietnamnet"/>
		<add key="WebsiteLink" value="http://www.vietnamnet.vn"/>
		<add key="WebsiteDesc" value="Vietnamnet - Báo điện tử Vietnamnet"/>
		<add key="WebsiteCopy" value="&copy; Vietnamnet - Báo điện tử Vietnamnet"/>
		<!-- Mobile Layout -->
		<add key="Homepage" value="/vn/index.html"/>
		<add key="StandardDomain" value="http://vietnamnet.vn"/>
		<add key="MobileDomain" value="http://m.vietnamnet.vn"/>
		<add key="MobilePort" value="80"/>
	</appSettings>

</configuration>