<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="TrackingConfiguration" type="VietNamNet.Framework.Tracking.TrackingConfigurationSectionHandler, VietNamNet.Framework.Tracking" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>

	<connectionStrings/>

	<system.web>
		<pages>
			<controls>
			</controls>
		</pages>
		<sessionState timeout="30"></sessionState>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
			<error statusCode="403" redirect="Error.aspx?msg=NoAccess"/>
			<error statusCode="404" redirect="Error.aspx?msg=FileNotFound"/>
		</customErrors>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add path="tracking.svr" verb="*" type="VietNamNet.AddOn.Tracker.ImageTracking"/>
		</httpHandlers>
		<httpModules>
		</httpModules>
		<httpRuntime maxRequestLength="20480"/>
	</system.web>

	<location path="tracking">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="VietNamNet.Framework.Tracking.TrackingHandler"/>
			</httpHandlers>
		</system.web>
	</location>

	<!--Tracking Service Configuration-->
	<TrackingConfiguration Type="VietNamNet.Framework.Tracking.TrackingConfiguration" Assembly="VietNamNet.Framework.Tracking">
		<TrackingService Name="article" Type="VietNamNet.AddOn.Tracker.ArticleTracking" Assembly="VietNamNet.AddOn.Tracker" />
	</TrackingConfiguration>
	<!--END Tracking Service Configuration-->

	<appSettings file="Message.config">
		<!-- AppSetting -->
		<add key="AllowServices" value="all"/>
		<add key="TrackingFolder" value="Tracking"/>
	</appSettings>

</configuration>